<div class="box">
  <div class="box-vote">
    <h3><strong>Hay una votación en curso. ¡Participa!</strong></h3>
    <p class="sub-h3">Recuerda que sólo tu último voto es válido.</p>

    <% Election.actived.each do |election| %>
        <div class="box-poll">
          <div>
            <p class="poll-q"><%= election.title %></p>

            <p class="date">
              <%= l election.starts_at, format: :short %>
              -
              <%= l election.ends_at, format: :short %>
            </p>
          </div>

          <%= link_to create_vote_path(election_id: election.id), target: '_blank', class: 'button button-vote' do %>
            <span>Votar en</span>
            <span>Ágora Voting</span>
          <% end %>
          <p><a href="http://asambleaciudadana.podemos.info/candidaturas/" target="_blank">Consultar las candidaturas</a></p>
        </div>
    <% end %>
  </div>
</div>
