<div class="well box">
  <h2>Hay una votación en curso ¡participa!.</h2> 
  <p>
  Recuerda que sólo tu último voto es válido
  </p>
  <div class="list-group">
    <% Election.actived.each do |election| %>
      <%= link_to create_vote_path(election_id: election.id), class: "box-info", target: "_blank" do %>
        <b>
        <%= election.title %>
      </b>
        <small>
        (<%= l election.starts_at, format: :long %> al <%= l election.ends_at, format: :long %>)
        </small>
        <br>
        <br>
        <br>
        <br>
        <span class="button">
          Votar en Agora Voting
        </span>
      <% end %>
    <% end %>
  </div>
</div>
