<div class="well">
  <h2>Hay una votación en curso ¡participa!</h2> 
  <p>
  Recuerda que sólo tu último voto es válido
  </p>
  <div class="list-group">
    <% Election.all.each do |election| %>
      <%= link_to create_vote_path(election_id: election.id), target: "_blank" do %>
          <p class="box-info">
          <b> <%= election.title %> </b>
          <small> (<%= l election.starts_at, format: :long %> al <%= l election.ends_at, format: :long %>) </small>
          </p>
        <span class="button">
          Votar en Agora Voting
        </span>
      <% end %>
    <% end %>
  </div>
</div>
