<% content_for :title, "Herramientas de participaci칩n ciudadana" %>
<%= content_tag(:h2, "Herramientas de participaci칩n ciudadana") %>
<div class="box">
  <div class="box-vote">
    <h3><strong>Las votaciones de <%= election.title %> est치n a punto de empezar.</strong></h3>
    <p class="sub-h3">Las urnas se abrir치n el <%= l election.starts_at, format: "%-d de %B de %Y a las %H:%M" %>.</p>
  </div>
</div>

