<h3><strong>Hay una votación en curso. ¡Participa!</strong></h3>
<p class="sub-h3"></p>
<p class="sub-h3">
<%if election.scope>0%>
Accederás a la votación de<% case election.scope
     when 1 %> la comunidad autónoma en la
  <% when 2 %> la provincia en la
  <% when 3 %>l municipio en el 
  <% end %> que estás inscrito/a. <% if current_user.can_change_location? %>Puedes actualizarlo pero recuerda que solo tu último voto es válido.<% end %><br><%end%>La votación utiliza el sistema seguro de <a href="https://agoravoting.com" target="_blank"><b>Agora Voting</b></a></p>
<div class="box-poll">
  <div>
    <p class="poll-q"><%= election.full_title_for current_user %></p>
    <p class="date"> <%= l election.starts_at, format: :short %> - <%= l election.ends_at, format: :short %> </p>
  </div>
  <%= link_to create_vote_path(election_id: election.id), class: 'button button-vote' do %>
    <span>Votar</span>
  <% end %>
</div>

