<div>
<% if current_user.has_vote_town? %>
  <h3><strong>No hay votaciones de <%= election.full_title_for current_user %>.</strong></h3>
  <p><%= link_to "¿Por qué?", "http://municipales.podemos.info/preguntas-frecuentes/" %></p>
  <p>Puedes cambiar tu municipio si te has mudado. Recuerda que sólo tu último voto es válido.</p>
<% else %>
  <h3><strong>Completa tus datos de inscripción indicando tu municipio de origen y participa en la votación de <%= election.title %>.</strong></h3>
<% end %>
</div>
