<div class="box">
  <div class="box-vote">
    <div class="box-poll">
      <div>
        <p class="poll-q">Tienes Microcréditos que puedes renovar</p>
      </div>

          <%= link_to renewal_microcredit_loan_path, class: 'button button-vote' do %>
            <span>Renueva tu microcédito</span>
          <% end %>
    </div>
  </div>
</div>
