<% content_for :title, "Herramientas de participación ciudadana" %>
<%= content_tag(:h2, "Herramientas de participación ciudadana") %>
<section class="tools">
  <ul>
    <li class="box-tool-large">
        Proximamente
    </li>
  </ul>
</section><!--.tools-->
