<% content_for :title, "Portelo de participaci칩n de En Marea" %>
<%= content_tag(:h2, "Portelo de participaci칩n de En Marea") %>
<section class="tools">
  <ul>
    <li class="box-tool-large">
        Lembra que en vindeiras datas activaremos esta opci칩n para o proceso de primarias, polo de agora permanecer치 inactivo. Grazas.
    </li>
  </ul>
</section><!--.tools-->
