<% if current_user.any_microcredit_renewable? %>
<%=render partial: "microcredit_renewal" %>
<%end%>
<section class="tools">
  <ul>

    <% if current_user.militant? %>
      <li class="box-tool-large">
        <div class="box-tool-large">
          <h3>¡Ya eres militante!</h3>
          <div class="tool-text" style="padding-bottom: 1em;">
            <p>¿Sabes qué mejoras conlleva?
              <br/>Entra pulsando el botón y entérate en detalle</p>

          </div><!--.tool-text-->

          <div class="buttonbox">
            <%= link_to "Conocer los detalles", tools_militant_request_path, class: "button" %>
          </div>
        </div><!--.box-tool-->
      </li>
    <% else %>
      <li class="box-tool-large">
        <div class="box-tool-large">
          <h3>Todavía no eres Militante</h3>
          <div class="tool-text" style="padding-bottom: 1em;">
            <p>Si lo deseas, además de estar inscrit<% if (current_user.gender == 'M')%>o<% elsif current_user.gender == 'F'%>a<% else %>o/a<%end%> en Podemos, puedes darte de alta en el nuevo Censo de Militantes.</p>

          </div><!--.tool-text-->

          <div class="buttonbox">
            <%= link_to "Apúntate aquí", tools_militant_request_path, class: "button" %>
          </div>
        </div><!--.box-tool-->
      </li>
    <%end%>
  </ul>
</section><!--.tools-->
<%= render partial: "promoted_forms" %>

