<section class="tools">
<div class="box">
  <div class="box-vote">
    <div>
      <h3><strong>Por problemas técnicos la votación ha tenido que ser retrasada. Será abierta a lo largo del día de hoy.</strong></h3>
    </div>
  </div>
</div>
</section><!--.tools-->
