<% content_for :title, "Herramientas de participaci칩n ciudadana" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <br>
      <%= content_tag(:h2, "Herramientas de participaci칩n ciudadana") %>

      <% if Election.actived.count > 0 %>
        <%= render 'elections' %>
      <% else %>
        <section class="tools">
          <ul>
            <li class="box-tool">
              <div class="box-tool">
                <h3>Plaza Podemos</h3>
                <div class="tool-text">
                  <p>El lugar oficial de encuentro y debate de Podemos: comparte materiales, opiniones, ideas, proyectos todo y mucho m치s.</p>
                  <p>Rueda de Masas durante unas horas de nuestros representantes.</p>
                </div><!--.tool-text-->

                <div class="buttonbox">
                  <%= link_to "Ir a Plaza Podemos", "http://reddit.com/r/podemos", class: "button", target: "_blank" %>
                </div>
              </div><!--.box-tool-->
            </li>
            <li class="box-tool">
              <div class="box-tool">
                <h3>AppGree</h3>
                <div class="tool-text">
                  <p>La aplicaci칩n para opinar y proponer en tiempo real.</p>
                </div><!--.tool-text-->
                <div class="buttonbox">
                  <%= link_to "Descargar APP", "http://www.appgree.com/descarga-appgree/", class: "button", target: "_blank" %>
                </div><!--.buttonbox-->
              </div><!--.box-tool-->
            </li>
          </ul>
        </section><!--.tools-->
      <% end %>

    </div>
  </div>
</div>
