<% if Election.actived.count > 0 %>
  <%= render 'elections' %>
<% end %>

<h1>Herramientas</h1>
<div class="row">
  <div class="col-md-4 panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-heading">Plaza Podemos (Reddit)</h3>
    </div>
    <div class="panel-body">
      El lugar oficial de encuentro y debate de Podemos: comparte materiales, opiniones, ideas, proyectos, todo y mucho más. 
      <hr>
      <%= link_to "Ir", "http://reddit.com/r/podemos", class: "btn btn-lg btn-primary", target: "_blank" %>
    </div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-heading">Agora Voting</h3>
    </div>
    <div class="panel-body">
      El lugar oficial de encuentro y debate de Podemos: comparte materiales, opiniones, ideas, proyectos, todo y mucho más. 
      <hr>
      <%= link_to "Ir", "https://agoravoting.com/", class: "btn btn-lg btn-primary", target: "_blank" %>
    </div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-heading">AppGree</h3>
    </div>
    <div class="panel-body">
      El lugar oficial de encuentro y debate de Podemos: comparte materiales, opiniones, ideas, proyectos, todo y mucho más. 
      <hr>
      <%= link_to "Descargar", "http://www.appgree.com/descarga-appgree/", class: "btn btn-lg btn-primary", target: "_blank" %>
    </div>
  </div>
</div>
