<% content_for :title, "Herramientas de participación ciudadana" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <br>
      <%= content_tag(:h2, "Herramientas de participación ciudadana") %>

      <% if Election.actived.count > 0 %>
        <%= render partial: 'elections' %>
      <% else %>
        <% if Election.last and Election.last.ends_at > 72.hours.ago %>
          <%= render partial: 'last_election', locals: { election: Election.last } %>
        <% else %>
          <%= render partial: "other_tools" %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
