<%= semantic_form_for :vote_circles, :url => { :action => "people_in_tiny_vote_circles" } do |f| %>
  <div class="buttons">
    <%= f.actions do %>
      <%= f.action :submit, label: 'Descargar fichero', :as => :button %>
    <% end %>
  </div>
<% end %>