<%= semantic_form_for :set_election_location_versions, :url => { :action => "set_election_location_versions" } do |f| %>
  <%= f.number_field(:version, value:0, in: 0..99, step: 1) %>
  <p style="margin-top:10px;">Se asignar치 la versi칩n introducida a todos los territorios de esta votaci칩n</p>

  <div class="buttons">
    <%= f.actions do %>
      <%= f.action :submit, :as => :button, label: "Modificar versi칩n" %>
    <% end %>
  </div>
<% end %>