<canvas class="graph pie" data-scope="collaboration-freq" width="300" height="300"></canvas>

<div class="collaboration-freq row">
<div class="hide cell" data-label="Mensual"><%= Collaboration.frequency_month.count%></div>
<div class="hide cell" data-label="Trimestral"><%= Collaboration.frequency_quarterly.count%></div>
<div class="hide cell" data-label="Anual"><%= Collaboration.frequency_anual.count%></div>
</div>