<table class="js-collaboration-evolution data_table">
  <thead>
    <th>Mes</th>
    <th>Nº de ordenes<br/>(<span class="js-serie" data-label="# pendientes">pend</span>/<span class="js-serie" data-label="# errores">error</span>/<span class="js-serie" data-label="# ok">ok</span>)</th>
    <th>Total<br/>(<span class="js-serie" data-label="€ pendientes">pend</span>/<span class="js-serie" data-label="€ errores">error</span>/<span class="js-serie" data-label="€ ok">ok</span>)</th>
    <th>Remesas</th>
  </thead>
  <tbody>
  <% (0..12).each do |i| 
    date = Date.today - (12-i).months %>
    <%= render "row_month", month: date.month, year: date.year %>
  <% end %>
  </tbody>
</table>
