<br>
<p>
  No hay puntos de verificación activos actualmente. Te avisaremos cuando iniciemos otra campaña de verificaciones. 
</p>
<br>

<div id="js-verification-map" style="width: 100%; height: 400px"></div>
