
<%= content_for :title, "#{t '.title'} | " %>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <div class="verif-new-third">
        <p class="title"><%= t('.title') %></p>
        <!-- p><%= t('.explain_html') %> </p -->
        <%= render partial: "verification/map" %>
      </div>
    </div>
  </div>
</div>
