
<%= content_for :title, "#{t '.title'} | " %>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <div class="verif-new-third">
        <p class="title"><%= t('.title') %></p>
        <p><%= t('.explain_html', inscription_link: link_to(t('.link_title'), new_user_registration_path)) %> </p>
        <%= render partial: "verification/map", locals: {centers: @centers} %>
      </div>
    </div>
  </div>
</div>
