# .travis.yml
language: ruby
rvm:
  - 2.2.2
cache: bundler
before_script:
  - cp config/secrets.yml.example config/secrets.yml
  - cp config/database.yml.travis config/database.yml
  - bundle exec rake db:create
  - bundle exec rake db:migrate
script: xvfb-run bundle exec rake test
