<%= semantic_form_for :circles, :url => { :action => "upload_circles" } do |f| %>
  <%= f.input :file, :as => :file, :label => false %>
  <p style="margin-top:10px;">Debe:</p>
  <ul style="list-style-type: disc; margin-left: 15px;">
    <li>estar separado por tabuladores</li>
    <li>tener en la primera línea los nombres de los campos</li>
    <li>original_code | code | name | island_code | region_area_id | town | original_name</li>
  </ul>
  <div class="buttons">
    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  </div>
<% end %>