<h2>
  <%= t("podemos.user.change_phone") %>
</h2>

<section class="content-text">
  <p><%= t('podemos.user.change_phone_explain', phone: resource.phone) %></p>

  <div class="buttonbox">
    <%=
        button_to(
                t("podemos.user.change_phone"),
                sms_validator_step1_path,
                method: :get,
                class: "button"
        )
    %>
  </div>
</section>
