<h2>
  <%= t("podemos.user.newsletters_suscription") %>
</h2>

<!-- section class="content-text"-->
<iframe class="iframe-full-size" frameborder="0" src="<%=@user.sendy_url %>">
  <p><%= t("podemos.user.newsletters_connection_not_active") %></p>
</iframe>
<!--/section -->
