<h2>
  <%= t("podemos.user.recover_password") %>
</h2>

<section class="content-text">
  <p>Para poder facer cambios no teu perfil debes ingresar o teu contrasinal. Se non lembras o teu contrasinal, podes seguir usando o teu perfil, pero non poderás facer modificacións.</p>
  <p>Se desexas cambiar o teu contrasinal, podes presionar o botón "RECUPERAR CONTRASINAL" e recibirás unha mensaxe coas instrucións para facelo na túa conta de correo electrónico (ao presionar o botón tamén sairás da túa conta, que é necesario para realizar este cambio).</p>

  <div class="buttonbox">
    <%=
        button_to(
                t("podemos.user.recover_password"),
                :password_recover,
                method: :delete, 
                class: "button"
        )
    %>
  </div>
</section>
