<h2>
  <%= t("podemos.user.recover_password") %>
</h2>

<section class="content-text">
  <p>Para poder hacer cambios en tu perfil debes ingresar tu contraseña. Si no recuerdas tu contraseña, puedes seguir usando tu perfil, pero no podrás hacer modificaciones.</p>
  <p>Si deseas cambiar tu contraseña, puedes presionar el botón "RECUPERAR CONTRASEÑA" y recibirás un mensaje con las instrucciones para hacerlo en tu cuenta de correo electrónico (al presionar el botón también saldrás de tu cuenta, que es necesario para realizar este cambio).</p>

  <div class="buttonbox">
    <%=
        button_to(
                t("podemos.user.recover_password"),
                :password_recover,
                method: :delete, 
                class: "button"
        )
    %>
  </div>
</section>