<div id="js-registration-subregion-wrapper" class="input required form-group">
  <%= label :user, :province, class: "control-label", required: :required do %>
    Provincia
    <abbr title="required">*</abbr>
  <% end %>
  <% if @user_location[:provinces].length>0 %>
    <span class="form-wrapper">
      <%= select_tag "user[province]", "<option></option>".html_safe+options_from_collection_for_select(@user_location[:provinces], "code", "name", @user_location[:province]), {required: "required", data: {placeholder: "-- Elige una provincia --", allowClear: true} } %>
    </span>
  <% else %>
    <%= text_field(:user, :province, class: "form-control") %>
  <% end %>
</div>
