<h3>Condiciones generales</h3>
<p>
Los derechos y deberes políticos derivados de esta inscripción, así como la forma de su ejercicio, son los reconocidos por la vigente legislación de Partidos Políticos y los propios estatutos del partido, sujetos a las decisiones que se adopten en las Asambleas, los recogidos en los Compromisos Éticos que se aprueben en la Asamblea Ciudadana y por los Acuerdos de los órganos del partido acordados. Esta inscripción supone así mismo la aceptación de los métodos de participación y formulas de decisión que legitimamente se establezcan. 
</p>
<p>
Al enviar este Formulario y cumplimentar el proceso de inscripción, habrás dado también tu consentimiento para que tus datos se incorporen a un Fichero cuyo Responsable es el partido Político PODEMOS, con los únicos fines de mantener la comunicación y facilitar la participación. Salvo por imperativo legal, PODEMOS nunca cederá tus datos a terceros sin tu consentimiento expreso. Podrás en cualquier momento ejercer tus derechos de Acceso, Rectificación, Cancelación y Oposición dirigiéndote a la dirección electrónica <%= mail_to "lopd@podemos.info", "lopd@podemos.info" %> desde la misma dirección de correo que consta verificada en esta inscripción o por cualquier otro medio que deje constancia de tu voluntad y de tu identidad
</p>
