<div id="js-microcredit_loan-province-wrapper" class="input required form-group">
  <%= label :microcredit_loan, :province, class: "control-label", required: :required do %>
    <%= title %>
    <% if required %><abbr title="requerido">*</abbr><% end %>
  <% end %>
  <span class="form-wrapper">
  <% provinces = get_provinces(country) %>
  <% if provinces.length>0 
      first_options = if required
                        "<option></option>"
                      else  
                        "<option></option><option value='-' "+(province=='-'? ' selected="selected"':'')+">-- Ninguna --</option>"
                      end
      %>
      <%= select_tag "microcredit_loan[province]", first_options.html_safe+options_from_collection_for_select(provinces, "code", "name", province), {disabled: disabled, required: required, data: {placeholder: "-- Elige una provincia --", allowClear: true} } %>
  <% else %>
    <%= text_field(:microcredit_loan, :province, class: "form-control input-xl") %>
  <% end %>
  </span>
</div>
