<% content_for :title, "Microcréditos" %>
<%= image_tag "front_landing.jpg", alt: "Papeletas con futuro", align: "center", width: "100%" %>
<div class="content-content cols microcredits-wrapper">
  <div class="row">
    <div class="col-b-4a12">
      <h3>Con tu ayuda financiamos las campañas electorales sin créditos bancarios</h3>
      <p>
        Nuestra fortuna es haber contado ya con más de 20500 personas que, con su apoyo a través de microcréditos, han cofinanciado las campañas de Podemos. Solo con implicación ciudadana y promoviendo nuevas fórmulas de participación, nos hemos convertido en ejemplo internacional de buenas prácticas en innovación en sistemas de financiación de partidos, y de transparencia en la rendición de cuentas a la ciudadanía.
      </p>
      <p>
        Desde las elecciones europeas, hasta las autonómicas, el 20D y de camino al 26J, seguimos demostrando que se puede reducir, de manera drástica, el gasto en campaña y el endeudamiento bancario. Juntas hemos ahorrado a las arcas públicas !más de 12 millones de euros!
      </p>
      <h3>Somos libres y más eficaces gracias a ti</h3>
      <p>
      Para llegar a los buzones de los hogares donde esta acción pueda animar la participación , para quienes prefieran llevar al colegio electoral la papeleta desde casa, y para tratar de que nadie se quede sin #PapeletasConFuturo, abrimos microcréditos en cada una de las provincias en la concurrimos. Busca la tuya y participa.
      </p>
      <h2 style="color:grey;">¡Ayúdanos a hacerlo realidad!</h3>
      <br/>
      <div class="buttonbox"><%= link_to "Colabora", @external ? microcredit_path(brand: @brand) : microcredit_path, class: 'button' %></div>
      <br/>
      <br/>
      <br/>
      <h2 style="color:grey;">El envío electoral</h3>
      <p>
      Esta segunda vuelta electoral ha colaborado a la toma de una mayor conciencia sobre la necesidad de reducir los gastos de campaña electoral. Uno de los debates preelectorales se ha centrado en el mayor gasto para cualquier partido: gasto en mailing (el buzoneo o envío de las papeletas electorales), una partida que supone a los partidos entre 700 mil euros y hasta 6,5 millones de euros. El número total de electores llamados a votar el 26J es de 36.518.100 y, para que los partidos se aseguren de que su voto llega a los domicilios de cada casa, se pueden gastar en esta tradicional acción alrededor de 36 millones de euros.
      </p>
      <p>
      En concreto, además de un envío mancomunado entre partidos que ahorraría hasta 30 millones de euros, hemos propuesto limitar el gasto a 3 millones de euros, (actualmente el límite de gasto en campaña electoral para un partido político es de 13 millones de euros), y ahorrar, entre las dos medidas, cerca de 46 millones de euros a las arcas públicas. Desde nuestro Grupo Parlamentario en el Congreso, intentamos materializar el acuerdo hasta el último momento, pero incluso las formaciones que defendieron la propuesta en primer lugar, dieron un paso atrás a la hora de llevarla a la práctica.
      </p>
      <p>
      Desde Podemos nos hemos planteado el reto de llegar a 11 millones de hogares y gastar, como máximo, 1,2 millones de euros.
      </p>
      <h2 style="color:grey;">¿Sabes cómo funciona la subvención?</h2>
      <p>
      De acuerdo con lo establecido en la disposición cuarta de la Ley Orgánica 3/2015, de 30 de marzo, el Estado subvencionará a los partidos, federaciones, coaliciones o agrupaciones los gastos electorales originados por el envío directo y personal a los electores de sobres y papeletas electorales o de propaganda y publicidad electoral, es decir, lo que conocemos como mailing o buzoneo.
      </p>
      <p>
      La subvención se concede de acuerdo con las reglas siguientes: se abonarán 0,18 euros por elector o electora en cada una de las circunscripciones en las que haya presentado lista al Congreso de los Diputados y al Senado, siempre que la candidatura de referencia hubiera obtenido el número de diputados o senadores o de votos precisos para constituir un Grupo Parlamentario en una u otra Cámara. El Estado nunca subvencionará más cantidad que la correspondiente al gasto efectuado por la formación política en este concepto.
      </p>
      <p>
        Visita nuestro <%=link_to "Portal de Transparencia","https://transparencia.podemos.info/" %>
      </p>
      <br/>
      <br/>
      <div class="buttonbox"><%= link_to "Colabora", @external ? microcredit_path(brand: @brand) : microcredit_path, class: 'button' %></div>
    </div>
  </div>
</div>
