<% content_for :title, "Microcréditos" %>

<div class="content-content cols microcredits-wrapper">
  <div class="row">
    <div class="col-b-4a12">
<p align="center" style="margin-bottom: 0cm; line-height: 120%; page-break-before: auto; page-break-after: auto">
<h2>Papeletas con futuro</h2></p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 120%; page-break-before: auto; page-break-after: auto">
Con tu ayuda financiamos las campañas electorales sin endeudarnos
con los bancos y, gracias a eso, hemos conseguido ahorrar a las arcas
públicas cerca de 12 millones de euros. No queremos el dinero de los
bancos: por eso necesitamos tu apoyo.</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 138%; page-break-before: auto; page-break-after: auto">
En esta ocasión hemos iniciado una campaña de microcréditos con el
fin de recaudar la cantidad económica necesaria para realizar el
<i>mailing </i>(el buzoneo o envío de las papeletas electorales),
pues en muchos casos, sobre todo en los pueblos pequeños, la gente
prefiere llevar la papeleta desde casa para evitar incomodidades. Por
este motivo, y para que nadie se equivoque sobre cuál es la papeleta
con la que podemos ganar el futuro, nos dirigimos a ti.</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 138%; page-break-before: auto; page-break-after: auto">
Para cualquier partido político, el <i>mailing </i>supone el mayor
gasto económico de la campaña electoral, un gasto que solo
posteriormente es subvencionado por parte del Estado. Así que os
pedimos que colaboréis para que entre todas y todos consigamos que
la papeleta con el voto de Podemos llegue a todos los hogares.</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm; line-height: 138%; page-break-before: auto; page-break-after: auto">
¿Sabes cómo funcionan las subvenciones de envío electoral?</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 138%; page-break-before: auto; page-break-after: auto">
De acuerdo con lo establecido en la disposición cuarta de la Ley
Orgánica 3/2015, de 30 de marzo, el Estado subvencionará a los
partidos, federaciones, coaliciones o agrupaciones los gastos
electorales originados por el envío directo y personal a los
electores de sobres y papeletas electorales o de propaganda y
publicidad electoral, es decir, lo que conocemos como <i>mailing </i>o
buzoneo.</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 138%; page-break-before: auto; page-break-after: auto">
La subvención se concede de acuerdo con las reglas siguientes: se
abonarán 0,18 euros por elector o electora en cada una de las
circunscripciones en las que haya presentado lista al Congreso de los
Diputados y al Senado, siempre que la candidatura de referencia
hubiera obtenido el número de diputados o senadores o de votos
precisos para constituir un Grupo Parlamentario en una u otra Cámara.</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 138%; page-break-before: auto; page-break-after: auto">
El número total de electores llamados a votar en las próximas
elecciones generales del 26 de junio es de 36.518.100, por lo que si
un partido quiere realizar un <i>mailing </i>completo, este generará
un coste económico al Estado de 6.573.258 de euros aproximadamente.</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 138%; page-break-before: auto; page-break-after: auto">
Desde Podemos nos hemos planteado el reto de llegar a, como mínimo,
11 millones de hogares. Con tu ayuda, sabemos que podremos
conseguirlo.
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br/>

</p>
<p align="center" style="margin-bottom: 0cm; line-height: 138%; page-break-before: auto; page-break-after: auto">
¡Ayúdanos a hacerlo realidad!</p>
    </div>
  </div>
</div>
