<% content_for :title, "Microcréditos" %>

<div class="content-content cols microcredits-wrapper">
  <div class="row">
    <div class="col-b-4a12">
      <h2>Microcréditos La Morada</h2>
      <p>La financiación de La Morada comparte los tres elementos que caracterizan la financiación del Instituto 25M y Podemos:</p>
      <ul>
        <li><strong>Independencia:</strong> En Las Moradas no queremos depender de bancos ni de los poderes
económicos y por eso nuestro objetivo ha sido ampliar al máximo la base de donantes y
colaboradores y socios. A pocos días de su apertura, los socios suman 87: 27 anuales, que
colaboran con 18,33 euros/mes; 26 semestrales, que colaboran con 22 euros/mes) y 34
mensuales, que colaboran con 20 euros/semestre.</li>
        <li><strong>Innovación:</strong> Para conseguir ampliar la base de socios y poder conseguir que La Morada se
mantenga con sus aportaciones, apostamos desde el inicio por desarrollar vías de
financiación innovadoras que posibilitaran nuestro objetivo.</li>
        <li><strong>Transparencia:</strong> En La Morada practicamos la transparencia como principio de acción. En
Nos comprometemos a publicar nuestras cuentas en la web trimestralmente. A cambio de
pedirle a la gente que nos apoye económicamente nos comprometemos a enseñar a todo el
mundo hasta el último euro que invierten en estos espacios ciudadanos.</li>
      </ul>
<p>Con motivo de la inauguración de la primera Morada el 31 de Octubre, desde el Instituto 25M,
lanzamos los microcréditos La Morada. Con tu ayuda queremos financiar las sedes abiertas a la
ciudadanía sin endeudarnos con los bancos. Somos diferentes porque funcionamos diferente, solo
dependemos de ti.</p>
<h2>INSTITUTO 25M</h2>
<p>Mediante el Instituto 25M ofrecemos a la ciudadanía la posibilidad de hacer un préstamo civil con
vistas a sufragar los gastos de la puesta en marcha de La Morada- Arganzuela, la primera sede
social y ciudadana, para asegurar su funcionamiento estable.</p>
<p>A tal objeto, hemos calculado de manera conservadora los gastos y los ingresos necesarios para la
puesta en marcha de La Morada, y la cantidad total ofrecida a suscripción por todos los socios es la
estrictamente necesaria para establecer el funcionamiento estable de La Morada y que no puede ser
cubierta por las cuotas ordinarias de los socios. La fundación efectuará la devolución del
microcrédito al suscriptor en el plazo de un año a contar desde el día siguiente al de la suscripción
de forma íntegra, directa y privilegiada. La entidad Triodos Bank supervisará y proporcionará
apoyo técnico durante todo el proceso.</p>
      <div class="buttonbox">
        <%= link_to "Colaborar", microcredit_path, class: 'button' %>
      </div>
      <p></br></p>
      <p>Si necesitas más información, envíanos tus dudas a <a href="mailto:microcreditos@lamorada.org">microcreditos@lamorada.org</a>.</p>
    </div>
  </div>
</div>  