<h2> Detalle de Microcrédito</h2>
<% if(@microcredit.microcredit_options.any? && @microcredit.loans.any?) %>
  <table class="js-collaboration-evolution data_table">
    <thead>
    <th>Territorio</th>
    <th>Total recadudado</th>
    </thead>
    <tbody>
    <% @microcredit.loans.group(:microcredit_option_id).sum(:amount).each do |r| %>
      <%= render "row_option_detail", territory_id: r[0], total: r[1] %>
    <% end %>
    </tbody>
  </table>
  <% else %>
  No Tengo Opciones que mostrar
<% end %>