<p>
Hola,
</p>
<p>
Antes de todo queremos daros la bienvenida a todos y todas las que os acabáis de inscribir a la comunidad de Barcelona en Comú. En estos últimos seis días un total de 5.800 personas se han inscrito telemáticamente. ¡¡Ya somos 11.941 personas inscritas!!, de las cuales 8.896 tienen derecho a voto. A las personas que aún no habéis verificado vuestro registro presencialmente os informaremos próximamente de los puntos y calendarios de verificación presencial.
</p>
<p> <b> Registro abierto </b> </p>
<p>
Por otro lado nos gustaría que <a href="http://participa.barcelonaencomu.cat">invitarais a aquellas personas interesadas en seguir construyendo colectivamente Barcelona en Comú</a>.
</p>
<p> <b> La votación </b> </p>
<p>
El proceso de inscripción y verificación que se estableció de forma rápida y con el esfuerzo de más de 180 personas voluntarias, se hizo con la idea de votar un posible pacto de gobierno. Este acuerdo de gobierno con las fuerzas políticas interpeladas no se ha producido, así, en esta ocasión no hay votación. <a href="https://storify.com/BCNencomu/tot-comenca-ara">Puedes consultar el proceso de negociación.</a>
</p>
<p>
Para las próximas consultas se os avisará a través de vuestro correo electrónico. Creemos firmemente en que es posible construir organizaciones democráticas y participativas. Gracias a todos y a todas por habernos llevado hasta aquí, os necesitamos para corresponsabilizarnos con este gran cambio democrático en la ciudad.
</p>
<p>
Te esperamos hoy, sábado 13 de junio, <a href="https://barcelonaencomu.cat/es/post/hemos-ganado-la-alcaldia-juntos-y-juntas-ganaremos-barcelona">al acto de investidura en la plaza Sant Jaume a las 17:00 h</a>.
</p>
<p>
Barcelona En Comú
</p>
<hr>
<p>
Hola,
</p>
<p>
Abans de tot volem donar-vos la benvinguda a tots i totes les que us acabeu d'inscriure a la comunitat de Barcelona En Comú. En aquests últims sis dies un total de 5.800 persones s'han inscrit telemàticament. Ja som 11.941 persones inscrites!!, de les quals 8.896 tenen dret a vot. A les persones que encara no heu verificat el vostre registre presencialment us informarem properament dels punts i el calendari de verificació presencial.
</p>
<p> <b> Registre obert </b> </p>
<p>
</p>
<p>
D'altra banda ens agradaria que convidéssiu <a href="http://participa.barcelonaencomu.cat">aquelles persones interessades a  seguir construint col·lectivament Barcelona En Comú a inscriure's. El registre continua obert</a>.
</p>
<p> <b> La votació </b> </p>
<p>
El  procés d'inscripció i verificació que es va establir de forma ràpida i amb l'esforç de més de 180 persones voluntàries, es va fer amb la idea de votar un possible pacte de govern. Aquest acord de govern amb les forces polítiques interpel·lades no s'ha produït, per tant, en aquesta ocasió no hi ha votacions. <a href="https://storify.com/BCNencomu/tot-comenca-ara">Pots consultar el procés de negociació</a>.
</p>
<p>
Per a les properes consultes us avisarem a través del vostre correu electrònic. Creiem fermament que és possible construir organitzacions democràtiques i participatives. Gràcies a tots i a totes per haver-nos portat fins aquí, us necessitem per coresponsabilitzar-nos d'aquest gran canvi democràtic a la ciutat.
</p>
<p>
T'esperem avui dissabte 13 de juny, <a href="https://barcelonaencomu.cat/ca/post/hem-guanyat-lalcaldia-i-junts-i-juntes-guanyarem-barcelona">a l'acte d'investidura a la plaça Sant Jaume a les 17 h</a>.
</p>
<p>
Barcelona En Comú
</p>
