<p>
Benvolguts i benvolgudes, 
</p>
<p>
ens adrecem a totes les persones que us vàreu inscriure a l'espai de participació de Barcelona en Comú però que us falta la verificació presencial per tal de poder exercir el vostre dret a vot. 
</p>
<p>
Recordeu que per poder votar has de demostrar que vius a Barcelona amb la següent documentació:
</p>
<p>
<ul>
  <li>DNI o NIE amb adreça a Barcelona
  <li>SI el DNI o NIE no té adreça a Barcelona, o si tens passaport o carnet de conduir (que no hi indiquen adreça), caldrà acompanyar el document amb algun altre que n'acrediti la residència a la ciutat: 
  <ul>
    <li>empadronament</li>
    <li>targeta censa</li>
    <li>rebut de subministraments (llum, aigua o gas) dels darrers 12 mesos</li>
  </li>
  </ul>
</ul>
<p>
<a href="https://participa.barcelonaencomu.cat/verificaciones">Aqui pots consultar els punts de verificació presencial que es van actualitzant cada dia</a>.
</p>
<p>
Us avancem que entre el 16 i el 18 de juliol hi haurà les votaciones dels consellers i conselleres de tots els districtes de Barcelona. Us volem animar a participar, és per això que comencem l'obertura de punts presencials que seran ampliats del 13 al 18 de juliol. <a href="https://barcelonaencomu.cat/ca/eleccions-consellers-i-conselleres-de-districte">Podeu ampliar informació aqui</a>.
</p>
<p>
Podeu animar a inscriure's a aquelles persones que puguin compartir els valors de Barcelona en Comú. 
</p>
<p>
Continuem construïnt una altra politica, més participativa i democràtica.
</p>
<p>
Barcelona en Comú
</p>

<hr>

<p>
Saludos, 
</p>
<p>
nos dirijimos a todas las personas que os inscribistéis en el espacio de participación de Barcelona en Comú. Os falta verificaros presencialmente para así poder ejercer vuestro derecho a voto. 
</p>
<p>
Recuerda que debes aportar la siguiente documentación que acredite que vives en Barcelona: 
</p>
<ul>
  <li>DNI o NIE con dirección en Barcelona</li>
  <li>SI el DNI o NIE no tiene dirección a Barcelona, o si tienes pasaporte o carné de conducir (donde no figura la dirección), hará falta acompañar el documento con algún otro que acredite la residencia en la ciudad: 
    <ul>
      <li>empadronamiento</li>
      <li>tarjeta censal</li>
      <li>recibo de suministros (luz, agua o gas) de los útlimos 12 meses </li>
    </ul>
  </li>
</ul>
<p>
<a href="https://participa.barcelonaencomu.cat/verificaciones">Puedes consultar tu punto de verificación en el mapa actualizado a diario</a>.
</p>
<p>
Os avanzamos que entre el 16 y 18 de julio habrá votaciones de consellers y conselleres de todos los distritos de Barcelona. Os animamos a participar, es por ello que empezamos con la abertura de algunos puntos presenciales que serán ampliados entre el 13 y el 18 de julio. <a href="https://barcelonaencomu.cat/es/elecciones-consejeros-y-consejeras-de-distrito">Podéis ampliar información aquí</a>
</p>
<p>
El registro está abierto permanentemente por lo que podéis animar a otras personas, que compartan valores con Barcelona en Comú, a que se inscriban
</p>
<p>
Continuamos construyendo otra política, más participativa y democrática.
</p>
<p>
Barcelona en Comú
</p>
