<p><%= t('verification.mailer.hello', user: @user.full_name) %></p>

Fem plegats una altra Barcelona #FemBcomú
-----------------------------------------

Si estàs llegint aquest correu electrònic és perquè et vas inscriure i vas cofirmar a través SMS, durant el procés de primàries, elecció de consellers i conselleres i la priorització del programa. 

Volem informar-te que ara estem, com hauràs pogut veure, en un procés d'inscripció en línia i verificació presencial. Amb aquest procés hem canviat la manera de verificar-se. Això no us afecta, doncs a l'haber participat a les primàries podreu exercir el dret a vot a les futures consultes.

Quan hi hagi una votació s'enviarà un correu electrònic per tal d'avisar-vos i que pogueu exercir el vostre dret a vot. 

Ada Alcaldessa
--------------

També us volem convidar a celebrar la investidura d'Ada Colau com a alcaldessa, serà dissabte 13 a les 17 h a la plaça Sant Jaume. T'hi esperem.

https://barcelonaencomu.cat/ca/post/hem-guanyat-lalcaldia-i-junts-i-juntes-guanyarem-barcelona

Gràcies pel teu suport i per pertànyer a la comunitat de Barcelona En Comú.
Barcelona En Comú

****************************************************

Hagamos juntos otra Barcelona. #FemBComu
-----------------------------------------

Si lees este correo electrónico es porque te inscribiste y confirmaste por SMS durante las votaciones de las primarias, elección de consejeros y consejeras y la priorización del programa. 

Queremos informarte de que ahora estamos, como seguramente habrás visto, en un nuevo proceso de inscripciones digitales y verificaciones presenciales. En este proceso ha cambiado la forma de verificarse. Esto no os afecta, pues al haber participado en las primarias podéis ejercer el derecho a voto en las futuras consultas. 

Cuando exista una votación os informaremos a través del correo electrónico para que así podáis ejercer vuestro derecho a voto.

Ada Alcaldesa
--------------

También os queremos invitar a celebrar la investidura de Ada Colau como alcaldesa, será el sábado 13 a las 17 h en la plaza Sant Jaume. Os esperamos. 

https://barcelonaencomu.cat/ca/post/hem-guanyat-lalcaldia-i-junts-i-juntes-guanyarem-barcelona

Gracias por vuestro apoyo y por pertenecer a la comunidad de Barcelona En Comú.
Barcelona En Comú
