<p>
Hola <%= @user.email %>:
</p>
<p>
A través de este correo te confirmamos tu baja como inscrito/a de Podemos. Si no has sido tú, por favor ponte en contacto con protecciondedatos@podemos.info.
</p>
<p>
Un cordial saludo,
</p>
<p>
Podemos
</p>