<p>Querido/a compañero/a:</p>

<p>Ya eres militante de Podemos. A través de tu Círculo activo, según los
  documentos de la Tercera Asamblea Ciudadana de Podemos, tienes los siguientes
  derechos:</p>
<ul>
  <li>A elegir y conformar en exclusiva los órganos locales de Podemos en el
    municipio: la Portavocía Municipal y el Consejo de Coordinación o ejecutiva
    en
    los municipios que se organicen en Plenario; y, además, el Consejo de
    Círculos
    allá donde exista.
  </li>

  <li>A participar de forma directa, a través de tu Círculo, y en su caso en
    Plenario, en la toma de decisiones fundamentales para Podemos en tu
    municipio.
  </li>

  <li>A elegir y, también, a optar a ser enlace de tu Círculo, por un lado, para
    el Consejo de Círculos a nivel local allá donde exista; y por otro, para las
    nuevas Redes de Círculos provinciales, insulares, autonómicas o de otro
    ámbito
    territorial que decida tu Asamblea Ciudadana Autonómica.
  </li>

  <li>A ser, en su caso, responsable provincial o insular de los enlaces de
    Círculos, dentro de la Red de la que formases parte.
  </li>

  <li>A optar, desde esas Redes de Círculos, a ser integrante de tu Consejo
    Ciudadano Autonómico por periodo de un año.
  </li>
</ul>

<p>El censo electoral para elegir las primeras Redes de Círculos y los órganos
  municipales en 2020 quedará cerrado el 15 de octubre a las 23.59 horas.</p>

<p>Consulta cualquier duda a tu Secretaría de Organización Autonómica o a tu
  Secretaría de Círculos.</p>

<p>Más información en podemos.info/militantes</p>

<p>Gracias por tu compromiso y por dar un paso al frente para construir Podemos
  y cambiar las cosas.</p>

<p>PODEMOS</p>