<p>Querida compañera, querido compañero</p>

<p>Hemos validado correctamente tu documento de identidad</p>

<p>Muchas gracias por participar en el proceso de verificación</p>

<p>Si has remitido tu documentación antes del 15 de septiembre de 2017 y has marcado la casilla de solicitud recibirás gratuitamente en tu domicilio la nueva Credencial de Compañero/a de Podemos</p>

<p>Recuerda revisar y mantener actualizados tus datos de domicilio para que podamos remitirte la Credencial por correo postal</p>

<p>Un saludo</p>

<p>PODEMOS</p>
