<p>Querida compañera, querido compañero</p>

<p>Hemos validado correctamente tu documento de identidad</p>

<p>Muchas gracias por participar en el proceso de verificación</p>

<p>Un saludo</p>

<p>PODEMOS</p>
