<p>Querida compañera, querido compañero</p>

<p>No hemos recibido correctamente tu documento de identidad y no podemos completar el proceso de validación</p>

<p>Por favor, necesitamos que nos envíes de nuevo las imágenes de tu documentación de identidad a través del formulario <a href="https://participa.podemos.info/verificacion-identidad">https://participa.podemos.info/verificacion-identidad</a></p>

<p>Recuerda que debes remitirnos las imágenes del documento con el que estás inscrita o inscrito en Podemos (DNI, NIE o pasaporte)  para que podamos verificar el número del documento que consta en tu ficha de inscripción.</p>

<p>Para más información sobre el proceso puedes mirar <a href="https://www.youtube.com/watch?v=Z5Sh1Uw8jbs">este vídeo</a> en el que Pablo Echenique explica cómo enviar la documentación paso a paso.</p>

<p>Muchas gracias por participar en el proceso de verificación</p>

<p>Un saludo</p>

<p>PODEMOS.</p>