<% content_for :title, "Candidaturas autonómicas" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, "Candidaturas autonómicas") %>
      <%= render partial: "gravity_iframe", locals: { domain: "forms.podemos.info", basepath: "", form_id: 1, height: 500 } %>
    </div>
  </div>
</div>