<% content_for :title, "Microcréditos" %>

<div class="content-content cols credits">
  <div class="row">
    <div class="col-b-4a12">
      <h2>Microcréditos PODEMOS</h2>
      <p>Con motivo de las elecciones al Parlamento de Andalucía del próximo 22 de marzo lanzamos lanza los microcréditos Podemos. Con tu ayuda queremos financiar esta campaña electoral sin endeudarnos con los bancos.</p>
      <p>En Podemos somos diferentes porque funcionamos diferente, solo dependemos de ti.</p>

      <h3>Contexto</h3>
      <p>Los partidos políticos sufragan sus campañas electorales de tres formas:</p>
      <ol><li>Mediante anticipos de subvenciones electorales basadas en los resultados obtenidos en las elecciones del mismo tipo</li>
      <li>Mediante créditos bancarios</li>
      <li>Mediante fondos ordinarios del partido</li></ol>
      <p>Las subvenciones por gastos electorales se conceden una vez terminado el proceso electoral en función de los resultados obtenidos y el gasto realizado en campaña. En las eleciones de 2012 las subvenciones concedidas para gastos generales de campaña fueron:</p>
      <ol><li>Por cada escaño obtenido, 22.299,12 euros.</li><li>Por voto conseguido por cada candidatura que haya obtenido, al menos, un escaño, 0,8229 euros.</li></ol>
      <p>Esta subvención está limitada a los gastos efectuados en campaña. De esta manera, para poder financiar las campañas electorales, los partidos, que por no haberse presentado antes, no tienen acceso a un anticipo de la subvención que se corresponda con los resultados esperados se ven forzados a recurrir a préstamos bancarios para optimizar los gastos de campaña subvencionables. Esto empuja a los partidos a un endeudamiento que puede condicionar su funcionamiento.</p>
      <h3>El proyecto</h3>
      <p><%= image_tag "credits.jpg", alt: "Microcréditos paso a paso", width: "100%" %></p>
      <p>La decisión de la Asamblea Ciudadana de PODEMOS de <strong>no recurrir a créditos bancarios</strong>, reflejada en el Código Ético, nos lleva explorar nuevas formas de financiación más cercanas al espíritu de PODEMOS de herramienta ciudadana y dependencia directa de la gente, explorando y poniendo a disposición de las personas que deseen colaborar, nuevas fórmulas de colaboración y participación económica que nos permitan sortear el diseño orientado al endeudamiento que bancario que promueve el sistema de financiación de partidos.</p>
      <p>La idea es ofrecer a la ciudadanía la posibilidad de hacer un <strong>préstamo civil</strong> al Partido Político PODEMOS con vistas a sufragar los gastos electorales de la campaña para las Elecciones Autonómicas a la Junta de Andalucía 2015.</p>
      <p>A tal objeto, hemos calculado la subvención por gastos electorales correspondientes a un resultado conservador. Partiendo de este análisis, hemos determinado la cantidad máxima a suscribir de 600.000 euros que nos permitiría devolver íntegramente el importe suscrito mediante la subvención por gastos electorales.</p>
      <p>Emitiremos los microcréditos a suscribir en partidas de 100.000 euros semanales para optimizar el impacto de la campaña y minimizar el riesgo de suscribir más de lo que esperamos obtener en caso de que durante la campaña electoral se modifiquen las expectativas a la baja.</p>
      <p>Una vez recibida <strong>la subvención</strong> para dichos gastos, previsiblemente en noviembre de 2015, ésta se aplicará <strong>de forma íntegra, directa y privilegiada a la devolución</strong> del préstamo.</p>
      <p>Solo en el improbable caso de que el total de la subvención fuera menor que el total del préstamo recibido, el total de las cantidades no cubiertas deberán ser devueltas de forma proporcional en el plazo máximo de 12 meses.</p>
      <p>Hemos elegido a Fiare Banca Etica para que supervise y proporcione el apoyo técnico necesario para el desarrollo del proceso.</p>
      <p></p>
      <p><a href="http://web-podemos.s3-eu-west-1.amazonaws.com/wordpress/wp-content/uploads/2015/02/microcreditos.pdf">Infografía</a> | <a href="http://web-podemos.s3-eu-west-1.amazonaws.com/wordpress/wp-content/uploads/2015/02/Contrato-microcreditos-web.pdf">Accede al contrato</a></p>
      <div class="buttonbox">
        <%= link_to "Colaborar", credits_add_path, class: 'button' %>
      </div>
      <p>Si necesitas más información, envíanos tus dudas a <a href="mailto:microcreditos@podemos.info">microcreditos@podemos.info</a>.</p>
    </div>
  </div>
</div>  