<% content_for :title, "Preguntas Frecuentes" %>

<div class="content-content cols">
<h2>Preguntas Frecuentes - Votaciones</h2>

<section class="cd-faq">
  <ul class="cd-faq-categories">
    <li><a class="selected" href="#general">GENERAL</a></li>
    <li><a href="#inscripcion">INSCRIPCIÓN</a></li>
    <li><a href="#votaciones">VOTACIONES</a></li>
  </ul> <!-- cd-faq-categories -->

  <div class="cd-faq-items">

    <ul id="general" class="cd-faq-group">
      <li class="cd-faq-title"><h2>General</h2></li>
      <li>
      <a class="cd-faq-trigger" href="#0">1. ¿Qué necesitas para entrar en participa.podemos.info?</a>
      <div class="cd-faq-content">
        <p>Para entrar (y por lo tanto poder votar) necesitas lo siguiente:</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1. <strong>DNI/NIF/Pasaporte</strong>. Por seguridad, debe ser único y no se podrá cambiar. </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;2. <strong>Teléfono móvil</strong>. Por seguridad, debe ser único.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;3. <strong>Correo electrónico</strong>: Por seguridad, debe ser único.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;4. <strong>Código de verificación</strong>.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Si te inscribiste antes del 18 de octubre de 2014 es el código que se te envió por SMS y correo electrónico, la primera vez que accedas deberás cambiarlo por seguridad. Si no lo recuerdas o no lo encuentras lo puedes cambiar haciendo clic <a href="https://participa.podemos.info/es/users/password/new" target="_blank" title="¿Has olvidado tu contraseña?">aquí</a>.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) Si por otro lado es la primera vez que te inscribes, el código que recibas por teléfono servirá para validar tu inscripción: <a href="https://participa.podemos.info/es/users/sign_up" title="participa.podemos.info" target="_blank">https://participa.podemos.info/es/users/sign_up</a> </p>
      </div> <!-- cd-faq-content -->
      </li>
      <li>
      <a class="cd-faq-trigger" href="#0">2. ¿Para qué sirve participa.podemos.info?</a>
      <div class="cd-faq-content">
        <p>Por ahora <a href="https://participa.podemos.info" target="_blank" title="Podemos Participa">participa.podemos.info</a> tiene las siguientes funcionalidades: </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&bull; <strong>Pasarela segura de voto</strong>. Este es el lugar donde tendrás que entrar siempre que haya una votación abierta.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&bull; <strong>Gestión de datos personales</strong>. Podrás modificar tus datos personales para que siempre estén actualizados. Iremos implementando más funcionalidades como las colaboraciones económicas, el banco de talentos y los distinstos mecanismos de participación que especifica el documento organizativo.</p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">3. ¿Para qué sirve el código que he recibido en móvil?</a>
      <div class="cd-faq-content">
        <p>El código que te enviamos al teléfono móvil sirve para verificar la autenticidad de tu inscripción. </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&bull; Si te inscribiste antes del 18 de octubre de 2014 es el código que recibiste por SMS y correo electrónico, la primera vez que accedas deberás cambiarlo por seguridad. Si no lo recuerdas o no lo encuentras lo puedes cambiar haciendo clic aquí. </p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&bull; Si por otro lado es la primera vez que te inscribes, el código que recibas por teléfono servirá para validar tu inscripción:<br /><a href="https://participa.podemos.info/es/users/sign_up" title="participa.podemos.info" target="_blank">https://participa.podemos.info/es/users/sign_up</a> </p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">4. ¿Qué hago si he perdido el código?</a>
      <div class="cd-faq-content">
        <p>Puedes solicitar uno nuevo <a href="https://participa.podemos.info/es/users/password/new" target="_blank" title="¿Has olvidado tu contraseña?">aquí</a>. Recuerda que el código de validación que has recibido no es la contraseña de acceso a Plaza Podemos ni Appgree.</p>
      </div> <!-- cd-faq-content -->
      </li>



      <li>
      <a class="cd-faq-trigger" href="#0">5. No me acuerdo del email ¿Qué hago?</a>
      <div class="cd-faq-content">
        <p>Lo más sencillo es que utilices tu DNI para entrar en la plataforma. Una vez dentro podrás cambiar tu email. Si sigues con problemas para acceder, lee el punto 3.</p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">6. Me han bloqueado la cuenta ¿qué puedo hacer?</a>
      <div class="cd-faq-content">
        <p>Por seguridad bloqueamos la cuenta durante una hora tras 20 intentos fallidos de acceso. Una vez pasado ese tiempo el usuario es desbloqueado automáticamente.</p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">7. No me aclaro con el proceso ¿os puedo enviar mi voto por email?</a>
      <div class="cd-faq-content">
        <p>Evidentemente no. No podemos votar por ti. Si tienes algún problema envía un correo a <a href="mailto:soportevotaciones@gmail.com">soportevotaciones@gmail.com</a> tal y como te indicamos más abajo.</p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">8. Al intentar votar me dice "Ooops ha ocurrido un error" ¿A qué se debe?</a>
      <div class="cd-faq-content">
        <p>Ese error se puede deber a varias causas. La primera es que has tardado más de 20 minutos en votar y la sesión ha expirado por seguridad. Si es así, inténtalo otra vez. </p>
        <p>También puede deberse al navegador. Si utilizas Internet Explorer y aparece el fallo, prueba a instalar <a target="_blank" title="Navegador Chrome" href="http://www.google.com/intl/es/chrome/">Chrome</a> o <a target="_blank" title="Descarga Firefox - Navegador gratuito" href="https://www.mozilla.org/es-ES/firefox/new/?utm_source=firefox-com">Firefox</a>.</p>
      </div> <!-- cd-faq-content -->
      </li>



      <li>
      <a class="cd-faq-trigger" href="#0">10. ¿Cómo es posible que haya podido votar 2 veces?</a>
      <div class="cd-faq-content">
        <p>El sistema ofrece la posibilidad de repetir el voto tantas veces se quiera, siendo el último el único válido.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <!--
      <li>
      <a class="cd-faq-trigger" href="#0">11. Nada de todo esto me ha ayudado ¿Cómo me puedo comunicar con vosotros?</a>
      <div class="cd-faq-content">
        <p>Recuerda que la clave de validación que recibiste al inscribirte o la contraseña de acceso a la web <a href="https://participa.podemos.info" target="_blank" title="participa.podemos.info">participa.podemos.info</a> no sirve para acceder a <a href="http://plaza.podemos.info/" target="_blank" title="Plaza Podemos">Plaza Podemos</a>.</p>
        <p>Para acceder y participar en <a href="http://plaza.podemos.info/" target="_blank" title="Plaza Podemos">Plaza Podemos</a> hay que registrarse de forma independiente en <a href="http://plaza.podemos.info/" target="_blank" title="Plaza Podemos">la página web</a> a través del enlace "iniciar sesión o registrarse" que hay en la parte superior derecha de la página. Aquí podrás elegir tu nombre de usuario y la contraseña diferente para este servicio de participación.</p>
      </div> <!-- cd-faq-content --><!--
      </li>
      -->
      <li>
      <a class="cd-faq-trigger" href="#0">11. Sigo sin poder acceder al portal de participación. ¿Cómo puedo comunicarme con el equipo de soporte?</a>
      <div class="cd-faq-content">
        <p>Si tienes algún problema puedes comunicarte con <a href="mailto:soportevotaciones@podemos.info">soportevotaciones@podemos.info</a> indicando si procede los siguientes datos:</p>
        <p>Nombre y Apellidos:<br />
        Email:<br />
        DNI:<br />
        Código sms enviado:<br />
        Descripción del problema:</p>
      </div> <!-- cd-faq-content -->
      </li>


    </ul> <!-- cd-faq-group -->




    <ul id="inscripcion" class="cd-faq-group">


      <li class="cd-faq-title"><h2>Inscripción</h2></li>


      <li>
      <a class="cd-faq-trigger" href="#0">Error 0: <i>Correo electrónico, número de documento o contraseña inválidos.</i></a>
      <div class="cd-faq-content">
        <p><%= image_tag "faq-error-login.png" %></p>
        <p>Si no recuerdas el correo electrónico que utilizaste para inscribirte, prueba con tu DNI y código de verificación.</p>
        <p>Si no recuerdas la contraseña, haz click <a href="https://participa.podemos.info/es/users/password/new" target="_blank" title="¿Has olvidado tu contraseña?">aquí</a> para solicitar una nueva.</p>
        <p>Si no recibes tu contraseña, mira el error 2 que aparece más abajo.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">Error 1: <i>Nº de documento: Ya estás inscrito con tu documento. Prueba a iniciar sesión o a pedir que te recordemos la contraseña.</i></a>
      <div class="cd-faq-content">
        <p><strong>Causa:</strong><br />Tu DNI ya está en nuestro inscrito. Tal y como dice el error, prueba a iniciar sesión o a pedir que te recordemos la contraseña. Recuerda que el DNI debe ser único. </p>

        <p><strong>Solución:</strong><br />Esto significa que ya te inscribiste anteriormente a través de juntos.podemos.info. Por lo tanto debes hacer click aquí para solicitar una nueva contraseña de acceso.</p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">Error 2: <i>Correo electrónico: Ya estás inscrito con tu correo electrónico. Prueba a iniciar sesión o a pedir que te recordemos la contraseña.</i></a>
      <div class="cd-faq-content">
        <p><strong>Causa:</strong><br />El correo electrónico que intentas inscribir ya ha está en uso.</p>
        <p><strong>Solución:</strong><br />Intenta inscribirte con otro correo electrónico. Si el nuevo correo electrónico no está en nuestros registros no tendrás ningún problema para entrar.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">Error 3: <i>No me llega ningún correo a ninguna de mis cuentas. Creo que me equivoqué de email. </i></a>
      <div class="cd-faq-content">
        <p><strong>Causa:</strong><br />Quizás escribiste mal el correo en el proceso de registro o el registro fue incompleto.</p>
        <p><strong>Solución:</strong><br />Escribe un correo a <a href="mailto:lopd@podemos.info">lopd@podemos.info</a> indicando tus datos personales y adjuntando fotocopia de tu DNI y te daremos de baja para que vuelvas a inscribirte.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">Error 4: No me llega el SMS y por lo tanto no me puedo verificar.</a>
      <div class="cd-faq-content">
        <p>Si después de dos minutos no recibes el SMS, entra en el portal con tu DNI y contraseña y vuelve a intentarlo.</p>

        <p>Comprueba que introduces tu teléfono móvil en formato internacional válido (+34 677XXXXXX). El prefijo internacional que tendrás es el correspondiente al país que has marcado en el formulario inicial.</p>

        <p>Si tras intentarlo de nuevo sigues teniendo problemas al recibir el SMS manda un correo a <a href="mailto:soportevotaciones@podemos.info">soportevotaciones@podemos.info</a> tal y como te indicamos más abajo. </p>


        <p><strong>Info<br />
          Si tu correo electrónico existe en nuestra base de datos, recibirás un enlace para restablecer la contraseña en unos minutos.</strong><br />
        Este mensaje te aparece tras intentar recordar la contraseña. Si no te ha llegado ningún correo, vete al error 3 que aparece un poco más arriba.
        </p>

      </div> <!-- cd-faq-content -->
      </li>

    </ul> <!-- cd-faq-group -->




    <ul id="votaciones" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Votaciones</h2></li>
      <li>
      <a class="cd-faq-trigger" href="#0">1. ¿Cómo puedo votar?</a>
      <div class="cd-faq-content">
        <p>En tres sencillos pasos:</p>
        <p>1. <strong>Descarga la aplicación de Podemos:</strong> en el siguiente enlace <a href="https://play.google.com/store/apps/details?id=info.podemos.participa" target="_blank" title="Aplicación de Podemos">Aplicación Podemos</a> o accede al <a href="https://participa.podemos.info" target="_blank" title="participa.podemos.info">Portal de Participación</a>, e introduce tu DNI/Correo electrónico y tu contraseña.</p>
        <p>2. <strong>Accede a la cabina de votación:</strong> Una vez hayas entrado en la aplicación de Podemos, te aparecerá un botón de votar, pincha y serás redirigido a la cabina de votación.</p>
        <p><%= image_tag "faq-votaciones-votacion-en-curso.png" %></p>
        <p>3. <strong>Vota:</strong> Responde a las preguntas de la votación. Antes de emitir tu voto, podrás confirmar la respuestas que has elegido y tendrás oportunidad de modificarlas. Una vez hayas hecho esto, podrás confirmar y emitir tu voto.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">2. ¿Quién puede votar?</a>
      <div class="cd-faq-content">
        <p>Cualquier persona inscrita en Podemos a través de <a href="http://participa.podemos.info" target="_blank">participa.podemos.info</a> .</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">3. ¿Qué necesito para votar?</a>
      <div class="cd-faq-content">
        <p>Necesitas un ordenador o cualquier otro dispositivo (android/iphone) con acceso a internet para acceder a <a href="https://participa.podemos.info" target="_blank">participa.podemos.info</a> y estar inscrito/a en <a href="https://participa.podemos.info/es/users/sign_up" title="participa.podemos.info " target="_blank">participa.podemos.info</a>.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">4. ¿Cuándo comienza y cuándo finaliza la votación a los cargos internos municipales?</a>
      <div class="cd-faq-content">
        <p>El periodo de votación comienza el 26 de Diciembre a las 11:00 y termina el 30 de Diciembre de 2014 a las 23:59.</p>
      </div> <!-- cd-faq-content -->
      </li>



      <li>
      <a class="cd-faq-trigger" href="#0">5. ¿Dónde puedo consultar las candidaturas?</a>
      <div class="cd-faq-content">
        <p>Aquí: <a href="http://municipales.podemos.info/candidaturas/" target="_blank">municipales.podemos.info/candidaturas</a></p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">6. No tengo un dispositivo móvil (smartphone/tablet), ¿puedo votar?</a>
      <div class="cd-faq-content">
        <p>Si, puedes votar también desde un ordenador con acceso a internet en <a href="https://participa.podemos.info" target="_blank">participa.podemos.info</a> </p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">7. ¿Qué metodos de autenticación se han habilitado?</a>
      <div class="cd-faq-content">
        <p>Creemos que la verificación por teléfono móvil ofrece altas garantías de seguridad y a la vez hace sencilla la participación. No obstante, el equipo informático de Podemos está trabajando en nuevas formas de validación que sigan apostando por un equilibrio que permita niveles de participación altos con la mayor seguridad y transparencia.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">8. ¿Qué se decide en la votación?</a>
      <div class="cd-faq-content">
        <p>Los cargos internos municipales de Podemos</p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">9. ¿Cuándo se publicarán los resultados?</a>
      <div class="cd-faq-content">
        <p>Los resultados estarán disponibles el Viernes 2 de Enero. El recuento toma un tiempo, puesto que las autoridades de la votación deben realizarlo de forma conjunta, siguiendo un proceso verificable pero costoso computacionalmente, que se detalla más abajo.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">10. ¿Puedo cambiar mi voto?</a>
      <div class="cd-faq-content">
        <p>Si, para cambiar tu voto deberás repetir el proceso de votación. Tu voto nuevo remplazará el voto emitido anteriormente.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">11. ¿Puedo votar en blanco?</a>
      <div class="cd-faq-content">
        <p>Si, se puede votar en blanco.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">12. ¿Qué medidas de seguridad se han implementado?</a>
      <div class="cd-faq-content">
        <p>El esquema de seguridad Agora Voting está basado en un "<a target="_blank" href="http://en.wikipedia.org/wiki/Mix_network">verifiable mixnet</a>" con cifrado de umbral ElGamal de <a target="_blank" href="http://en.wikipedia.org/wiki/Public-key_cryptography">clave pública</a>. Ver más detalles <a target="_blank" href="http://www.securitybydefault.com/2011/06/agora-ciudadana-el-parlamento-virtual.html">aqui</a>. La implementación la proporciona la librería <a target="_blank" href="http://www.verificatum.org/">verificatum</a>.</p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">14. ¿En qué otras votaciones se ha utilizado Agora Voting?</a>
      <div class="cd-faq-content">
        <p>Entre otras, Agora Voting se ha utlizado para llevar a cabo las <a target="_blank" href="”http://www.eldiario.es/politica/primarias-Podemos-europeas-superan-votos_0_245675520.html”">primarias europeas de Podemos</a>, la iniciativa de <a target="_blank" href="http://www.theguardian.com/world/2013/sep/11/joan-baldovi-spain-transparency-bill">Congreso Transparente</a> en dos votaciones, así como para las <a target="_blank" href="http://www.europapress.es/portaltic/internet/noticia-confederacion-pirata-organiza-primarias-elecciones-europeas-traves-internet-20140210164929.html">primarias</a> de la <a target="_blank" href="http://confederacionpirata.org/">Confederación Pirata</a>.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">16. ¿Cómo puedo comprobar que mi voto ha quedado registrado correctamente?</a>
      <div class="cd-faq-content">
        <p>A traves del localizador del voto que el sistema muestra tras votar en la cabina de votación, que debes anotar. Una vez concluída la votación se publicarán los localizadores de todos los votos que han participado en el recuento. Podrás comprobar que tu localizador esta efectivamente entre ellos. Esta comprobación no solo sirve para verificar que tu voto ha sido registrado, sino que también verifica que ha sido contabilizado en el recuento (ver dos preguntas más abajo).</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">17. He buscado mi voto tal y como dice la pregunta anterior y no sale listado ¿por qué?</a>
      <div class="cd-faq-content">
        <p>Seguramente has copiado mal el localizador de tu voto, por favor comprúebalo de nuevo.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>

      <li>
      <a class="cd-faq-trigger" href="#0">18. ¿Cómo puedo comprobar que el recuento de la votación es correcto?</a>
      <div class="cd-faq-content">
        <p>Agora Voting es un sistema verificable. Esto significa que cualquiera puede revisar el recuento de la votación a partir de los localizadores de los votos y las <a target="_blank" href="http://en.wikipedia.org/wiki/Zero-knowledge_proof">demostraciones matemáticas</a> publicadas tras el recuento. Agora Voting proporciona un prodecimiento de verificación para dicho efecto. Este procedimiento, como el resto del sistema, es públicamente auditable. No obstante, la verificación se basa en técnicas criptográficas que, aunque bien establecidas en el ámbito académico, no son fáciles de entender para el ciudadano medio.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">19. ¿Es posible averiguar el contenido de mi voto? ¿Cómo puedo saber que no se revelará mi voto?</a>
      <div class="cd-faq-content">
        <p>No, ni siquiera los administradores del sistema pueden averiguarlo. Sólo es posible revelar el contenido de un voto si todas las autoridades conspiran para hacerlo (o si todas son atacadas con éxito, ver más abajo). El secreto del voto permanece seguro con tal de que una sola de estas autoridades no esté corrompida.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">20. ¿Cuáles son las autoridades de la votación?</a>
      <div class="cd-faq-content">
        <p>Son dos: OpenKratio y Agora Voting. Puedes ver <a href="https://vota.podemos.info/doc/auths.html">más información sobre las autoridades de votación aquí.</a></p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>
      <a class="cd-faq-trigger" href="#0">22. ¿Qué pasa si vuestro sistema es atacado?</a>
      <div class="cd-faq-content">
        <p>En el peor de los casos la votación no se podra completar satisfactoriamente. En ningún caso se podra alterar el recuento, ni comprometer el secreto del voto. (Para esto último el atacante tendría que tomar el control de los sistemas de todas las autoridades)</p>
      </div> <!-- cd-faq-content -->
      </li>


      <li>

      <div class="cd-faq-content">
        <p>23. ¿Cómo pueda saber que vuestro sistema funciona correctamente? ¿Dónde esta el código fuente de vuestro sistema? ¿Es Agora Voting software libre?</a>
      <div class="cd-faq-content">
        <p><a target="_blank" href="https://agoravoting.com">Agora Voting</a> es software libre. <a target="_blank" href="https://github.com/agoravoting/">El código es públicamente auditable y accesible</a> por cualquiera. Creemos que un sistema de votación, al ser un componente esencial de un proceso democrático, debe ser desarrollado en comunidad para otorgarle credibilidad, independencia y transparencia, además de permitir mantener la soberanía tecnológica. Si quieres colaborar en el proyecto de Agora Voting eres bienvenido. No hace falta que seas técnico, porque también necesitamos diseñadores, traductores, testers, documentadores, divulgadores, y por supuesto programadores y matemáticos. Te invitamos a que te unas a <a target="_blank" href="https://groups.google.com/d/forum/agora-ciudadana-devel">nuestra lista pública de correo</a> o a <a target="_blank" href="https://webchat.freenode.net/?channels=#agoraciudadana">nuestro canal de IRC en freenode. También, si quieres realizar algún proceso de toma de decisiones con nosotros, puedes </a><a href="mailto:agora@agoravoting.com">contactarnos</a>.</p>
      </div> <!-- cd-faq-content -->
      </li>
      <li>
      <a class="cd-faq-trigger" href="#0">25. ¿Cómo se asegura que cada votante vota una sóla vez, y que sólo votan las personas con derecho a ello?</a>
      <div class="cd-faq-content">
        <p>Gracias al sistema de autenticación en el portal de participación de Podemos se asegura que sólo aquellas personas que figuren en el censo de Podemos pueden votar. Se controla que se efectúe sólo un voto asociado a cada persona en dicho censo.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">26. ¿Dónde puedo encontrar más información técnica acerca de la votación?</a>
      <div class="cd-faq-content">
        <p>Hemos creado un documento con información más técnica en inglés, el <a href="https://vota.podemos.info/doc/tech_overview_1020.pdf" target="_blank">technical overview</a>.</p>
      </div> <!-- cd-faq-content -->
      </li>

      <li>
      <a class="cd-faq-trigger" href="#0">27. Tengo más preguntas</a>
      <div class="cd-faq-content">
        <p>En ese caso, puedes <a href="mailto:soportevotaciones@podemos.info">contactar con nosotros</a> e intentaremos resolver tus dudas, preguntas, o comentarios.</p>
      </div> <!-- cd-faq-content -->
      </li>
    </ul> <!-- cd-faq-group -->
  </div> <!-- cd-faq-items -->
  <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
</div>
