<% content_for :title, t('podemos.guarantees.title') %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, "Comisión de Garantías - Área de cumplimiento y transparencia") %>
      <%= link_to "Ir al Área conflictos y garantías", guarantees_conflict_path %>
      <%= render partial: "gravity_iframe", locals: { form_id: 47 } %>
    </div>
  </div>
</div>
