<% content_for :title, "Comisión de Garantías Democráticas" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, "Comisión de Garantías Democráticas") %>

      <p>La Comisión de Garantías Democráticas es el órgano independiente previsto en el Documento Organizativo y en los Estatutos de PODEMOS para garantizar que el funcionamiento de la organización se ajuste a los principios de democracia, transparencia, justicia y participación igualitaria de todas las personas.</p>

      <p>Su primera función es garantizar que PODEMOS sea una herramienta efectiva al servicio de la gente, un proyecto donde la gente tenga la primera y la última palabra. La Comisión se ocupa de velar por el cumplimiento real e igualitario de los documentos aprobados por la Asamblea Ciudadana, los reglamentos de sus órganos electos y los protocolos democráticos.</p>

      <p>Además, la Comisión protege los derechos democráticos de las personas inscritas, de los Círculos y de los órganos internos de PODEMOS, en todos los niveles, y garantiza el correcto desempeño de sus obligaciones. Por último, la Comisión velará por el más estricto cumplimiento del Código Ético por parte de todas las personas que representen a PODEMOS u ocupen cargos públicos en su nombre, para que este proyecto siga siendo limpio y transparente.</p>

      <p><%= link_to "Reglamento de la Comisión de Garantías Democraticas", "http://web-podemos.s3-eu-west-1.amazonaws.com/wordpress/wp-content/uploads/2015/02/REGLAMENTO-DE-LA-COMISI%C3%93N-DE-GARANT%C3%8DAS-DEMOCRATICAS.pdf" %></p>

      <br>
      <br>
      <%= link_to "Comunicar a la Comisión", guarantees_form_path, class: "button" %>
      <br>
      <br>

    </div>
  </div>
</div>
