<% content_for :title, "Equipos de Acción Participativa" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, "Equipos de Acción Participativa") %>
      <p>
      Los Equipos de Acción Participativa son una gran apuesta del Área de Participación. Nuestra intención es crear cientos de estos equipos, con el objetivo de dinamizar la participación y reforzar la movilización en los municipios. Para ello llevamos meses desarrollando espacios de dinamización en red donde entre todos/as podemos proponer y compartir ideas. Una de las funciones más importantes de estos equipos estarán la de intentar eliminar la brecha digital, así como cualquier otro tipo de limitación en la participación como pueda ser la cuestión del género.  Para ello intentaremos dinamizar la apertura de puntos fijos de acceso a internet desde donde poder utilizar estas herramientas digitales de participación (ej: todos los miércoles tener un ordenador disponible para que todo el mundo pueda acercarse a participar), y la de crear espacios donde las personas que tengan más dificultades puedan aprender a utilizar estas herramientas y entre todos/as les saquemos el máximo partido. También será una tarea importante de los equipos tratar de fomentar una participación lo mas paritaria e igualitaria posible entre hombres y mujeres, tratando de corregir  Nuestra principal tarea será ayudar a canalizar en el territorio los proyectos y campañas que ideemos colectivamente, teniendo la gran labor de contribuir a plasmar en el terreno las grandes ideas y proyectos que se proponen e impulsan en los espacios de participación en red, así como servir de apoyo a todo el tejido social local que requiera de nuestra colaboración. 
      </p>

      <p>
      Queremos que los Equipos de Participación estén integrados por diversidad de perfiles, con los que desde el ámbito de la participación, construir la organización, elaborar propuestas y trabajar en su difusión. Para el desarrollo de estas labores se requerirá una implicación intermedia entre aquellos cientos de miles de personas que apoyan el proyecto a través de las redes sociales pero que, por diversos motivos no participan de forma más activa, y los integrantes de los círculos con un alto nivel de implicación. En cualquier caso, para garantizar la acción unitaria y la difusión de iniciativas comunes, será siempre conveniente que los principales impulsores y coordinadores de los Equipos de Acción Participativa sean a su vez compañeros y compañeras que participan de forma regular en los círculos. Las tareas de estos Equipos se coordinarán mediante correo electrónico, Telegram (aplicación de mensajería instantánea que puede utilizarse desde el móvil y desde el ordenador -puedes descargártelo como una aplicación más: https://telegram.org/) y otras formas de comunicación y coordinación que iremos implantando entre la gente de los equipos. Una buena coordinación nos permitirá construir proyectos y campañas muy potentes con una gran capacidad de acción y difusión en todos los ámbitos y a todos los niveles. A la vez, dadas las grandes diferencias entre unos municipios y otros, estos equipos tendrán la tarea de adecuar las dinámicas y campañas generales a las peculiaridades de sus localidades, además de innovar con otras que piensen que puedan cumplir una función adecuada en sus municipios. Tener la oportunidad de compartir estas experiencias y replicar las que identifiquemos como las más destacadas puede activar un proceso de inteligencia colectiva que nos lleve a superar todas nuestras expectativas.
      </p>

      <p>
      ¡Incorpórate a los Equipos de Acción Participativa y en breve nos pondremos en contacto contigo!
      </p>

      <div class="buttonbox">
        <%= render partial: "wants_participation_buttons" %>
      </div>

    </div>
  </div>
</div>
