<% content_for :title, "Responsables municipales de finanzas y legal" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, "Responsables municipales de finanzas y legal") %>
      <%= render partial: "gravity_iframe", locals: { domain: "forms.podemos.info", script: "//forms.podemos.info/wp-content/plugins/gravity-forms-iframe/assets/scripts/gfembed.min.js", form_id: 14, height: 500 } %>
    </div>
  </div>
</div>