<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="ca">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ca">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="ca">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
        <title>
                <% if I18n.locale == :ca %>
                Explicació de la votació
        <% else %>
                Explicación de la votación
        <% end %>
        </title>
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/votacions.bcnencomu.cat\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.3.1"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>

<link rel='stylesheet' id='contact-form-7-css'  href='http://votacions.bcnencomu.cat/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='cff-css'  href='http://votacions.bcnencomu.cat/wp-content/plugins/custom-facebook-feed/css/cff-style.css?ver=2.4' type='text/css' media='all' />
<link rel='stylesheet' id='cff-font-awesome-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css?ver=4.5.0' type='text/css' media='all' />
<link rel='stylesheet' id='wpml-cms-nav-css-css'  href='http://votacions.bcnencomu.cat/wp-content/plugins/wpml-cms-nav/res/css/navigation.css?ver=1.4.6' type='text/css' media='all' />
<link rel='stylesheet' id='cms-navigation-style-base-css'  href='http://votacions.bcnencomu.cat/wp-content/plugins/wpml-cms-nav/res/css/cms-navigation-base.css?ver=1.4.6' type='text/css' media='screen' />
<link rel='stylesheet' id='cms-navigation-style-css'  href='http://votacions.bcnencomu.cat/wp-content/plugins/wpml-cms-nav/res/css/cms-navigation.css?ver=1.4.6' type='text/css' media='screen' />
<link rel='stylesheet' id='twentythirteen-fonts-css'  href='https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CBitter%3A400%2C700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='genericons-css'  href='http://votacions.bcnencomu.cat/wp-content/themes/twentythirteen_2/genericons/genericons.css?ver=3.03' type='text/css' media='all' />
<link rel='stylesheet' id='twentythirteen-style-css'  href='http://votacions.bcnencomu.cat/wp-content/themes/twentythirteen_2/style.css?ver=2013-07-18' type='text/css' media='all' />
<link rel='shortlink' href='http://votacions.bcnencomu.cat/' />
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style>
.site-title {
  padding: 88px 0 10px;
}
</style>
</head>

<body class="home page page-id-4 page-template-default single-author">
	<div id="page" class="hfeed site">
		<header id="masthead" class="site-header" role="banner">
				<h1 class="site-title"></h1>

		</header><!-- #masthead -->

		<div id="main" class="site-main">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

						
				<article id="post-4" class="post-4 page type-page status-publish hentry">
					<header class="entry-header">
<% if I18n.locale == :ca %>
              <h3>
                <%= link_to "Ver en Castellano", url_for(locale: :es), class: current_lang_class(:es) %>
              </h3>
<% else %>
              <h3>
                <%= link_to "Veure a Català", url_for(locale: :ca), class: current_lang_class(:ca) %>
              </h3>
<% end %>
						
					</header><!-- .entry-header -->
					<header class="entry-header">
						<h2 class="entry-title">Presentació del procés del Pre-Acord de Govern</h2>
					</header><!-- .entry-header -->

					<div class="entry-content">
            <% if I18n.locale == :ca %>
                    <p><%= image_tag "Votacions-Pacte-bcomu.jpg" %></p>
                    <p>Barcelona en Comú vol sotmetre a votació la proposta d'acord de govern a l'Ajuntament establert amb el Partit dels Socialistes de Barcelona. Aquesta consulta és de caràcter vinculant i està adreçada a totes les persones simpatitzants de El Comú que estan registrades i verificades per Barcelona en Comú. El període de votacions és del dimarts 17 de maig a les 9.00h, al dijous 19 de maig a les 20.00h. </p>
                    <p><a href="#">Us facilitem el document que descriu la proposta d'acord polític i programàtic, i la modificació del cartipàs municipal.</a></p>
                    <p>Si voleu procedir a emetre el vostre vot, ho podeu fer en el <a href="/">següent enllaç</a>.</p>
                    <p>Els resultats de l'escrutini de les votacions es comunicaran a partir del 19 de maig a les 22.00 hores.</p>
            <% else %>
              Español
            <% end %>
											</div><!-- .entry-content -->

					<footer class="entry-meta">
											</footer><!-- .entry-meta -->
				</article><!-- #post -->

				
<div id="comments" class="comments-area">

	
	
</div><!-- #comments -->			
		</div><!-- #content -->
	</div><!-- #primary -->


		</div><!-- #main -->
	</div><!-- #page -->

	<!-- Custom Facebook Feed JS -->
</body>
</html>
