<fieldset>
  <legend class="invisible">Datos de la colaboración</legend>

  <div class="inputlabel-box">
    <% if @user_verification.errors.include?(:front_vatid) %>
        <%= field_notice_box %>
    <% end %>
    <%= f.input :front_vatid %>
  </div>

  <div class="inputlabel-box">
    <% if @user_verification.errors.include?(:back_vatid) %>
        <%= field_notice_box %>
    <% end %>
    <%= f.input :back_vatid %>
  </div>
</fieldset>