<h3 style="font-size:2em ;">PASO 1: Infórmate sobre el proceso</h3>
<div class="row">
  <div class="col-bhome-1a6">
    <!-- iframe src="https://www.youtube.com/embed/Z5Sh1Uw8jbs?feature=oembed" style="margin-left:14px; max-width:100%" allowfullscreen="" frameborder="0" width="400" height="230" --></iframe>
    <iframe src="https://www.youtube.com/embed/U2UBbETMoxU?feature=oembed" style="margin-left:14px; max-width:100%" allowfullscreen="" frameborder="0" width="400" height="230"></iframe>
  </div>
  <div class="col-bhome-6a12 text-center">
    <!-- a class="button" style="margin: 8% 4%;" href="https://files.podemos.info/esh2fTOXkK.pdf" target="_blank" rel="noopener noreferrer" title="Descargar Guía Identifícate con Podemos"><center><strong>Guía</strong><br />Identifícate con Podemos</center></a -->
    <a class="button" style="margin: 8% 4%;" href="https://files.podemos.info/y9fHFqGlTC.pdf" target="_blank" rel="noopener noreferrer" title="Descargar Guía Identifícate con Podemos"><center><strong>Guía</strong><br />Identifícate con Podemos</center></a>
  </div>
</div>
<br /><br /><br />
<h3 style="font-size:2em ;">PASO 2: ¡Identifícate con Podemos!</h3>
