<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <% @notices.each do |notice| %>
        <div class="alert alert-info">
          <h4><a href="#"><%= notice.title %></a></h4>
          <p><%= notice.body %></p>
          <p><%= notice.created_at %></p>
        </div>
        <hr>
      <% end %>
      <%= paginate @notices %>
    </div>
  </div>
</div>
