<% @notices.each do |notice| %>
  <div class="alert alert-info">
    <h4><a href="#"><%= notice.title %></a></h4>
    <p><%= notice.body %></p>
    <p><%= notice.created_at %></p>
  </div>
  <hr>
<% end %>
