//= require font-awesome

.panel[data-panel] {
  table {
    tr td div {
      max-height: 1.5em;
      overflow: hidden;
      max-width: 100em;
    }
    tr.full td div {
      max-height: inherit;
    }
  }
  h3 {
    &:before {
      content: " \2796 "
    }
    & a {
        padding: 0px 10px;
        color: inherit;
    }
    &.panel-collapsed {
        &:before {
          content: " \2795 "
        }
        & a {
          color: inherit;
        }
    }
  }
}
input[type="number"] {
  width: 6em !important;
  text-align: center;
}

textarea {
  min-height: 60px;
}
.data_table {
  width: inherit;
  margin: auto;
  th { text-align: center; min-width: 70px }
  td { text-align: right; padding: 4px 15px }
}
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
li.small_input, li.small_inputs ol li {
  float: left;
  clear: none;
  text-align: center;
  &.first {
    margin-left: 20%;
    margin-left: calc(20% + 6px);
  }
  &.last + li {
    clear: both;
  }
  label {
    width: auto;
    float:none;
    margin: 5px 10px;
    input { vertical-align: top; margin-right: 5px}
  }
}
.presets {
  position:absolute;
  background: white;
}
.options_headers {
  li.choice {
    float: right;
    opacity: 0.5;
    &.checked {
      float: left;
      opacity: 1;
      label {
        min-width: 110px;
      }
    }
  }
  label {
    font-weight: normal;
    font-size: 10px;
    text-align: left;   
  }
}
li.small_inputs {
  ol { clear: both; }
}
.enable_tabs {
  -moz-tab-size : 65;
  -o-tab-size : 65;
  tab-size : 65;
}
.moneda {
  text-align:right;
}
li.input {
  clear: left;
}
li h3 {
  text-transform: uppercase;
  margin-bottom: 0;
  border-bottom: 1px solid #999;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.attachments {
  text-align: center;
  .attachment {
    margin: 10px;
    display: inline-block;
    .preview {
      display: block;
      img {
        display: block;
      }
    }
    .rotate {
      margin: 0px;
      padding: 5px;
      background-color: #612D62;
      color: white;
      text-align: left;
      font-size: 14px;
      font-weight: bold;
      a {
        float: right;
        margin: 0 5px;
        display: inline-block;
        color: white;
      }
    }
    .degrees-0 {
    }
    .degrees-90 {
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .degrees-180 {
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .degrees-270 {
      -ms-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }
}