# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  host: 'localhost:3000'
  secret_key_base: changeme
  devise_secret_key: changeme
  default_from_email: changeme@example.com
  newrelic: 
    license_key: changeme
  recaptcha:
    public: changeme
    private: changeme
  gcm: 
    key: changeme
  airbrake:
    api_key: changeme
    host: changeme
  esendex:
    username: changeme@example.com
    password: changeme
    account_reference: changeme
  agora:
    shared_key: changeme
  aws_ses: 
    server: changeme
    access_key_id: changeme
    secret_access_key: changeme
  redsys:
    name: changeme
    code: changeme
    terminal: changeme
    secret_key: changeme
    identifier: changeme
    currency: changeme
    transaction_type: changeme
    payment_methods: changeme
    post_url: changeme
    recurrent_url: changeme
  sendy:
    appID: changeme
    userID: changeme
  users:
    max_unconfirmed_hours: changeme
    allows_location_change: changeme
    blocked_provinces: []
  orders:
    payment_day: changeme

test:
  host: 'localhost:3000'
  secret_key_base: changeme
  devise_secret_key: changeme
  default_from_email: changeme@example.com
  newrelic: 
    license_key: changeme
  recaptcha:
    public: changeme
    private: changeme
  gcm: 
    key: changeme
  airbrake:
    api_key: changeme
    host: changeme
  esendex:
    username: changeme@example.com
    password: changeme
    account_reference: changeme
  agora:
    shared_key: changeme
    default: agora
    servers:
      agora:
        shared_key: changeme
        url: changeme
  aws_ses: 
    server: changeme
    access_key_id: changeme
    secret_access_key: changeme
  redsys:
    name: changeme
    code: changeme
    terminal: changeme
    secret_key: changeme
    identifier: changeme
    currency: changeme
    transaction_type: changeme
    payment_methods: changeme
    post_url: changeme
    recurrent_url: changeme
  sendy:
    appID: changeme
    userID: changeme
  users:
    max_unconfirmed_hours: changeme
    allows_location_change: changeme
    blocked_provinces: []
  orders:
    payment_day: changeme

staging:
  host: 'localhost:3000'
  secret_key_base: changeme
  devise_secret_key: changeme
  default_from_email: changeme@example.com
  newrelic: 
    license_key: changeme
  recaptcha:
    public: changeme
    private: changeme
  gcm: 
    key: changeme
  airbrake:
    api_key: changeme
    host: changeme
  esendex:
    username: changeme@example.com
    password: changeme
    account_reference: changeme
  agora:
    shared_key: changeme
  aws_ses: 
    server: changeme
    access_key_id: changeme
    secret_access_key: changeme
  redsys:
    name: changeme
    code: changeme
    terminal: changeme
    secret_key: changeme
    identifier: changeme
    currency: changeme
    transaction_type: changeme
    payment_methods: changeme
    post_url: changeme
    recurrent_url: changeme
  sendy:
    appID: changeme
    userID: changeme
  users:
    max_unconfirmed_hours: changeme
    allows_location_change: changeme
    blocked_provinces: []
  orders:
    payment_day: changeme

production:
  host: 'localhost:3000'
  secret_key_base: changeme
  devise_secret_key: changeme
  default_from_email: changeme@example.com
  newrelic: 
    license_key: changeme
  recaptcha:
    public: changeme
    private: changeme
  gcm: 
    key: changeme
  airbrake:
    api_key: changeme
    host: changeme
  esendex:
    username: changeme@example.com
    password: changeme
    account_reference: changeme
  agora:
    shared_key: changeme
  aws_ses: 
    server: changeme
    access_key_id: changeme
    secret_access_key: changeme
  redsys:
    name: changeme
    code: changeme
    terminal: changeme
    secret_key: changeme
    identifier: changeme
    currency: changeme
    transaction_type: changeme
    payment_methods: changeme
    post_url: changeme
    recurrent_url: changeme
  sendy:
    appID: changeme
    userID: changeme
  users:
    max_unconfirmed_hours: changeme
    allows_location_change: changeme
    blocked_provinces: []
  orders:
    payment_day: changeme
