# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  host: 'localhost:3000'
  secret_key_base: changeme
  devise_secret_key: changeme
  default_from_email: changeme@example.com
  organization:
    name: "BComu"
    folder: "bec"
  features:
    allow_inscription: true
    blog: true
    collaborations: true
    collaborations_redsys: true
    elections: true
    microcredits: true
    notifications: true
    openid: true
    participation_teams: true
    proposals: true
    verification_presencial: true
    verification_sms: true
  newrelic:
    license_key: changeme
  recaptcha:
    public: changeme
    private: changeme
  gcm:
    key: changeme
  airbrake:
    api_key: changeme
    host: changeme
  esendex:
    username: changeme@example.com
    password: changeme
    account_reference: changeme
  agora:
    default: agora
    servers:
      agora:
        shared_key: changeme
        url: "https://example.com/"
      beta:
        shared_key: changeme
        url: "https://beta.example.com/"
    themes:
      - mytheme
    options_headers:
      Text: texto
      Category: Lista o equipo
      Image URL: Imagen
      URL: Enlace
      Description: Descripción
      Gender: Sexo
  aws_ses:
    server: changeme
    access_key_id: changeme
    secret_access_key: changeme
  redsys:
    name: "Organization"
    code: 'changeme'
    terminal: '001'
    identifier: "REQUIRED"
    currency: "978"
    transaction_type: "0"
    payment_methods: "T"
    secret_key: 'changeme'
    post_url: "https://sis-t.sermepa.es:25443/sis/realizarPago"
  sendy:
    appID: changeme
    userID: changeme
  users:
    max_unconfirmed_hours: changeme
    allows_location_change: changeme
    blocked_provinces: []
  orders:
    payment_day: 10
    creation_day: 7
  mailjet:
    api_key: changeme
    secret_key: changeme
    default_from_for: changeme
  icps:
    freeze_date:
  microcredits:
    default_brand: podemos
    brands:
      podemos:
        allow_login: true
        color1: changeme
        color2: changeme
        logo: logo.podemos-425-p.jpg
        mail_from: changeme
        mail_signature: changeme
        main_url: http://microcreditos.podemos.info
        name: Podemos


development:
  <<: *default

test:
  <<: *default
  host: 'localhost'

staging:
  <<: *default

production:
  <<: *default
