<p>Estimado/a compañero/a,</p>

<p>Hemos revisado el proyecto que has presentado en la edición actual de IMPULSA y hemos detectado algunos puntos que necesitan subsanación.</p>

<p>Te rogamos que aportes las correcciones necesarias antes del <%=@fixes_limit%>, con el fin de que el proyecto quede completo, en la página del proyecto <%=@project_url%>.</p>

<p>Si tienes alguna consulta al respecto, por favor ponte en contacto con nosotros en el correo <a href="mailto:<%=@edition_email%>"><%=@edition_email%></a></p>

<p>Muchas gracias.</p>

<p>Un cordial saludo,</p>

<p>Equipo técnico<br/>
Proyecto IMPULSA<br/>
Área de participación estatal<br/>
Podemos</p>
