<p>Estimado/a compañero/a,</p>

<p>Hemos revisado el proyecto presentado a la segunda edición de IMPULSA, y hemos detectado algunos puntos que necesitan subsanación.</p>

<p>Te rogamos que aportes las correcciones necesarias antes del 1 de octubre, con el fin de que el proyecto quede completo.</p>   

<p>Si tienes alguna consulta al respecto, por favor ponte en contacto con nosotros en el correo <a href="mailto:proyectoimpulsa2@podemos.info">proyectoimpulsa2@podemos.info</a></p>

<p>Muchas gracias,</p>

<p>Un cordial saludo,</p>

<p>Equipo técnico<br>
Proyecto IMPULSA<br>
Podemos</p>
