<p>Estimado/a compañero/a,</p>

<p>Lamentamos comunicarte que el proyecto que has presentado a IMPULSA no ha superado la fase de evaluación.</p>

<p>Puedes conocer los detalles de este proceso en la <a href="<%=@evaluation_url%>">página de tu proyecto en el Portal de Participación de Podemos</a>.</p>

<p>Agradecemos tu participación en esta edición de IMPULSA, y te animamos a estar pendiente de las próximas ediciones.</p>

<p>Un cordial saludo,</p>

<p>Equipo técnico<br/>
Proyecto IMPULSA<br/>
Área de participación estatal<br/>
Podemos</p>