<p>Estimado/a compañero/a,</p>

<p>Lamentamos comunicarte que tu proyecto ha sido invalidado por las siguientes razones:</p>

<p>-> Se incluyen las razones indicadas en los campos del Evaluador 1 y 2</p>

<p>Agradecemos tu participación en la segunda edición de IMPULSA, y te animamos a estar pendiente de las próximas ediciones.</p>

<p>Un cordial saludo,</p>

<p>Equipo técnico<br>
Proyecto IMPULSA<br>
Podemos</p>

