<p>Estimado/a compañero/a,</p>

<p>Lamentamos comunicarte que el proyecto que has presentado a IMPULSA ha sido invalidado por las siguientes razones:</p>

<p><%=@invalid_reasons%></p>

<p>Agradecemos tu participación en esta edición de IMPULSA, y te animamos a estar pendiente de las próximas ediciones.</p>

<p>Un cordial saludo,</p>

<p>Equipo técnico<br>
Proyecto IMPULSA<br>
Podemos</p>

