<p>Estimado/a compañero/a,</p>

<p>Hemos recibido correctamente el proyecto que has presentado. En breve, te informaremos si es necesario que realices alguna subsanación.</p> 

<p>Muchas gracias por participar en la segunda edición de IMPULSA.</p>

<p>Un cordial saludo,</p>

<p>Equipo técnico<br>
Proyecto IMPULSA<br>
Podemos</p>

