<p>Estimado/a compañero/a,</p>

<p>Después de realizar la revisión de los proyectos presentados, hemos detectado que tu proyecto está prácticamente vacío. Por esta razón, lo hemos marcado como desestimado.</p>

<p>Si tienes alguna consulta al respecto, por favor ponte en contacto con nosotros en el correo <%=@edition_email%>.</p>

<p>Muchas gracias.</p>

<p>Equipo técnico<br/>
Proyecto IMPULSA<br/>
Área de participación estatal<br/>
Podemos</p>
