<p>Estimado/a compañero/a,</p>

<p>Tenemos el placer de comunicarte que hemos recibido correctamente el proyecto que has presentado, está completo y pasa a la fase de revisión.</p> 

<p>Muchas gracias por participar en esta edición de IMPULSA.</p>

<p>Un cordial saludo,</p>

<p>Equipo técnico<br>
Proyecto IMPULSA<br>
Podemos</p>

