<p>Estimado/a compañero/a,</p>

<p>Una vez realizada la valoración de los proyectos presentados a esta edición de IMPULSA, tenemos el placer de informarte de que tu proyecto ha sido validado.</p>

<p>Esto implica que participarás, del <%=@voting_dates%>, en la fase de votaciones con los demás proyectos validados de tu territorio, dependiendo de la categoría donde te hayas presentado.</p>

<p>Te deseamos mucha suerte en este proceso, y te agradecemos por participar en esta edición de IMPULSA.</p>

<p>Un cordial saludo,<br>
Equipo técnico<br>
Proyecto IMPULSA<br>
Podemos</p>
