<p>Estimado/a compañero/a,</p>

<p>Una vez realizada la revisión de los proyectos presentados a la segunda edición de IMPULSA, tenemos el placer de informarte de que tu proyecto ha sido validado.</p>

<p>Esto implica que participarás en la fase de pre-selección en la que un Jurado compuesto por el Equipo técnico de IMPULSA, miembros de la Comisión de Garantías Democráticas, miembros del Consejo Ciudadano Estatal, y las Senadoras de Podemos, valorarán los proyectos validados en función de los criterios establecidos en las bases de la convocatoria y preseleccionarán un máximo de cuatro proyectos.</p>

<p>Los resultados de la preselección se harán públicos en la página web: <a href="http://podemos.info/impulsa">http://podemos.info/impulsa</a></p>

<p>En el caso de que tu proyecto sea preseleccionado, te informaremos por correo electrónico.</p>

<p>Del 13 al 18 de octubre, se abrirá un proceso de votaciones en el que las personas inscritas en Podemos podrán elegir dos proyectos ganadores entre los cuatro preseleccionados.</p>

<p>Te deseamos mucha suerte en este proceso, y te agradecemos por participar en la segunda edición de IMPULSA.</p>

<p>Un cordial saludo,</p>

<p>Equipo técnico<br>
Proyecto IMPULSA<br>
Podemos</p>

