<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:1419506191,byc:1,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok2v=1613a3a185/"},atok:"bb37739e50c57b49d7141b74421ebc96",petok:"d426b0efc8c35b6de87a74b2a39e63e8fe356d5a-1419507739-3600",zone:"podemos.info",rocket:"0",apps:{}}];CloudFlare.push({"apps":{"ape":"99c3a62b9cd39505ebdbfcd415be19b5"}});!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok2v=919620257c/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<div style="width: 100%; height:300px; display: block; padding: 0; margin: 0">
<a class="agoravoting-ballot-locator" href="https://vota.podemos.info/#/election/<%=@scoped_agora_election_id%>/ballot-locator" >Localizar papeleta con Agora Voting</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://vota.podemos.info/avWidgets.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","agoravoting-widgets-js");</script>
</div>