Estimado/a compañero/a:

Le informamos que, con relación a la cuota que suscribió con nosotros, se han producido varias devoluciones de recibos domiciliados, por lo que ésta se ha suspendido cautelarmente a fin de evitar más gastos de devolución, y por lo tanto su condición como militante.
Si el motivo es que no desea seguir colaborando con nosotros le rogamos envíe un correo electrónico a <a href="mailto:colaboraciones@podemos.info">colaboraciones@podemos.info</a> solicitando la baja de la cuota, pero si las devoluciones se han producido por alguna causa ajena a usted, por favor póngase en contacto con su banco a fin de averiguar el problema, y una vez subsanado con nosotros para volver a activar la colaboración.

Sin otro particular, reciba un cordial saludo.

<%=@brand_config["mail_signature"]%>
