<p>Estimado colaborador/a:</p>

<p>Le informamos el recibo correspondiente a la colaboración económica de este mes nos ha sido devuelto.  Si la devolución se ha producido por alguna causa ajena a usted por favor póngase en contacto con su banco a fin de averiguar el problema, y una vez subsanado con nosotros bien por correo a administración@podemos.info o al teléfono 917376825.</p>

<p>Si por lo contrario el motivo es que no desea seguir colaborando con nosotros le rogamos envíe un correo electrónico a colaboraciones@podemos.info solicitando la baja de la colaboración.</p>

<p>Sin otro particular, reciba un cordial saludo.</p>

<%=@brand_config["mail_signature"]%>
