<div style="padding:20px;">
  
  <%= link_to proposal do %>
    <h2 style="font-size:2em;padding-bottom:5px">
      <%= proposal.title %>
    </h2>
    <p>
      <%= truncate(proposal.description, length: 500) %>
    </p>
  <% end %>

</div>