<%= link_to proposal_path(proposal.reddit_id) do %>
  <div style="padding:20px;">
    <h2 style="font-size:2em;"><%= proposal.title %></h2>
    <p><%= truncate(proposal.description, length: 500) %></p>
  </div>
<% end %>