<div style="padding:20px;">
  <h2 style="font-size:2em;padding-bottom:10px"><%= @proposal.title %></h2>
  <p><%= @proposal.description %></p>
  <p><%= link_to "Debate en Plaza Podemos", @proposal.reddit_url, :target => '_blank' %></p>
</div>