  <div class="js-collaboration-confirm-buttons buttonbox">
  <%= link_to "Cancelar", destroy_collaboration_path, class: 'button button-danger', method: :delete, data: {confirm: "¿Estás seguro que no quieres confirmar esta colaboración?"} %>
  <%= link_to "Confirmar", ok_collaboration_path, class: 'button' %>
  </div>
