.cookie {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  font-size: 12px;
  padding: 10px 0;
  color: #444;
  font-weight: 200;
  text-align: center;
  a {
    color: #269283;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  a.close {
    color: #000;
    text-decoration: none;
    opacity:0.5;
    display:block;
    //background: transparent image-url('close.png') no-repeat;
    width: 20px;
    margin-right: 25px;
    float: right;
    height: 20px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    &:hover {
      opacity:1;
    }
  }
}
