/*
Author: wakalaka
Author URI: http://wakalaka.es/
Description: Responsive theme by wakalaka for Juntos Podemos
Version: 1.0
*/


/* --------------------------------------------------------------------------------------------------------------------------------------------
base
-------------------------------------------------------------------------------------------------------------------------------------------- */


/* -----------------------------------
box info & alerts
----------------------------------- */
.box{
  position:relative;
}
.box-info{
  background:#d7cad8;
  padding:1.5em 3em 1.5em 9em;
  margin:0 0 1.5em
}
.box-info:before{
  display: inline-block;
  margin: 0;
  content:image-url("ico.ropes-purple.png");
  position:absolute;
  top: -0.5em;
  left: -0.5em;
}
.box p{
  color:#612d62;
}

.box-ko{
  background:#f5bfc9 image-url("ico.alert-circle.png") 2em 1.5em no-repeat;
  padding:1.5em 3em 1.5em 9em;
  margin:0 0 1.5em
}
.box-ok{
  background:#d0e0c9 image-url("ico.alert-circle.png") 2em 1.5em no-repeat;
  padding:1.5em 3em 1.5em 9em;
  margin:0 0 1.5em
}
.box-info:before{
  display: inline-block;
  margin: 0;
  content:image-url("ico.ropes-purple.png");
  position:absolute;
  top: -0.5em;
  left: -0.5em;
}
.box-info p{
  color:#612d62;
}

.box .box-close{
  position:absolute;
  top: 0.5em;
  right: 0.5em;
  width:1.8em;
  height:1.8em;
  background:image-url("ico.box-close-white.png") 0 0 no-repeat;
}
.box .box-close{
  position:absolute;
  top: 1em;
  right: 1em;
}
.box .box-close span{
  display:none;
}


/* -----------------------------------
form elements
----------------------------------- */

fieldset legend{
  font-family:Montserrat,Arial,sans-sefif;
  display:block;
  width:100%;
  border-bottom:1px solid #d7cad8;
  position:relative;
  margin:0 0 1.5em;
  font-weight:bold;
  text-transform:uppercase;
}
legend span{
  background:#fff;
  padding:0 0.1em 0 0;
  position:relative;
  top:0.3em;
  color:#612d62;
}

fieldset .inputlabel-box{
  width:100%;
  display:inline-block;
  float:none;
  clear:both;
  padding-bottom:1em;
  position:relative;
}
fieldset .inputlabel-box *{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-sefif;
}
fieldset .inputlabel-box label,
fieldset .inputlabel-box span.no-label{
  display:block;
  background:none;
  float:left;
  border:none;
  color:#612d62;
  padding:0.55em 0;
}
fieldset .inputlabel-box input{
  background:#eaeaea;
  float:left;
  border:none;
  padding:0.85em 1.5%;
  color:#555;
}
fieldset .inputlabel-box input.input-xl{
  width:63%;
}
fieldset .inputlabel-box input.input-m{
  width:42%;
}
fieldset .inputlabel-box input.input-s{
  width:21%;
}
fieldset .inputlabel-box .input-box{
  float:left;
  border:none;
  width:63%;
}
fieldset .inputlabel-box .checkbox-box{
  float:left;
  border:none;
  width:63%;
}
fieldset .inputlabel-box .input-box p{
  padding-top:0.5em;
  float:left;
  border:none;
}
fieldset .inputlabel-box .input-box input.input-xl{
  width:99%;
}
fieldset .inputlabel-box .input-box input.input-m{
  width:62%;
  margin-right:2%;
}
fieldset .inputlabel-box .input-box input.input-s{
  width:29%;
  margin-right:2%;
}
fieldset .inputlabel-box .input-box p.text-xl{
  width:90%;
}
fieldset .inputlabel-box .input-box p.text-m{
  width:66%;
}
fieldset .inputlabel-box .input-box p.text-s{
  width:33%;
}

fieldset .inputlabel-box input.checkbox,
fieldset .inputlabel-box input.radio{
  background:#fff;
  float:left;
  border:none;
  padding:0;
  margin:1em 0.5em 1em 0;
  width:auto;
}
fieldset .inputlabel-box p{
  float:left;
  border:none;
  padding:0;
  color:#999;
  margin:0;
}

fieldset .alert-nexttolabel{
  display:inline-block;
  background:#d7cad8;
  width:25%;
  clear:right;
  float:none;
  position:absolute;
  top:0;
  left:-33%;
  padding:0;
  margin:0;
}
fieldset .alert-nexttolabel .alert-ico{
  padding:2.5em 1.5em;
  background:#612d62 image-url("ico.alert-exclam.png") 50% 50% no-repeat;
  display:inline-block;
  float:right;
}
fieldset .alert-nexttolabel p{
  background:red;
  color:#612d62;
  width:80%;
  text-align:center;
  float:left;
}
fieldset .alert-nexttolabel p:last-child{
  margin:0;
}
fieldset .alert-nexttolabel .alert ico{
  display:block;
  width:1.1em;
  height:2.2em;
}

fieldset .inputlabel-box .rb-unit{
  float:left;
}
fieldset .inputlabel-box .rb-unit input{
  float:left;
}
fieldset .inputlabel-box .rb-unit label{
  float:left;
  display:block;
  width:auto;
  white-space:nowrap;
}
.rb-box-1col .rb-unit{
  width:63%;
}
.rb-box-2col .rb-unit{
  width:29.5%;
  margin-right:2%;
}
.rb-box-3col .rb-unit{
  width:19%;
  margin-right:2%;
}
.rb-box-4col .rb-unit{
  width:13.75%;
  margin-right:2%;
}
.rb-box-5col .rb-unit{
  width:12.6%;
  margin-right:2%;
}
.rb-box-6col .rb-unit{
  width:10.5%;
  margin-right:2%;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 1: 0-459 (simple) # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */


/*
elementos
*/
.content-content label,
.content-content span.no-label{
  width:100%;
  clear:both;
}


/*
font sizes
*/
.content-content label,
.content-content span.no-label{
  font-size:1.4em;
}
.content-content input{
  font-size:1.3em;
}
.alert-nexttolabel p{
  font-size:1.2em;
}
.input-box p {
  font-size: 1em;
}
legend span{
  font-size:1.6em;
}



/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 2: 460-600 (intermedia 1) # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 460px) and (max-width: 600px)
{


  /*
  elementos
  */
  .content-content label,
  .content-content span.no-label{
    width:32%;
    margin-right:2%;
    clear:none;
  }


  /*
  font sizes
  */
  .content-content label,
  .content-content span.no-label{
    font-size:1.4em;
  }
  .content-content input{
    font-size:1.3em;
  }
  .alert-nexttolabel p{
    font-size:1.2em;
  }
  .input-box p {
    font-size: 1.1em;
  }
  legend span{
    font-size:1.6em;
  }

}


/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 3: 600-768 (intermedia 2) # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) and (max-width: 768px)
{


  /*
  elementos
  */
  .content-content label,
  .content-content span.no-label{
    width:32%;
    margin-right:2%;
    clear:none;
  }


  /*
  font sizes
  */
  .content-content label,
  .content-content span.no-label{
    font-size:1.5em;
  }
  .content-content input{
    font-size:1.4em;
  }
  .alert-nexttolabel p{
    font-size:1.3em;
  }
  .input-box p {
    font-size: 1.1em;
  }
  legend span{
    font-size:1.7em;
  }

}

/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 4: 769-...+ # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 769px)
{


  /*
  elementos
  */
  .content-content label,
  .content-content span.no-label{
    width:32%;
    margin-right:2%;
    clear:none;
  }


  /*
  font sizes
  */
  .content-content label,
  .content-content span.no-label{
    font-size:1.6em;
  }
  .content-content input{
    font-size:1.5em;
  }
  .alert-nexttolabel p{
    font-size:1.4em;
  }
  .input-box p {
    font-size: 1.2em;
  }
  legend span{
    font-size:1.8em;
  }

}

/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 4+: 978-...+ # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 978px)
{


  /*
  elementos
  */
  .content-content label,
  .content-content span.no-label{
    width:32%;
    margin-right:2%;
    clear:none;
  }


  /*
  font sizes
  */
  .content-content label,
  .content-content span.no-label{
    font-size:1.8em;
  }
  .content-content input{
    font-size:1.6em;
  }
  .alert-nexttolabel p{
    font-size:1.4em;
  }
  .input-box p {
    font-size: 1.2em;
  }
  legend span{
    font-size:2em;
  }

}
