#proyectos {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
#proyectos .proyecto {
	width: 287px;
	float: left;
	margin: 5px 0 50px 0;
	padding: 0;
	background-color:#fff;
	position: relative;
}
#proyectos .proyecto a {
	text-decoration: none;
	color: #00a19a;
}
#proyectos .proyecto a:hover {
	color: #82368c;
}
#proyectos .proyecto h2 {
	font-size: 1.2em;
	margin:0 0 20px 0;
	padding:0.8em;
}
#proyectos .proyecto img {
	width: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	opacity: 0.5;
}
#proyectos .proyecto iframe {
	width: 100% !important;
	height: 180px;
}
#proyectos .proyecto img:hover {
	-webkit-filter: none;
	filter: none;
	opacity: 1;
}
#proyectos .proyecto.activo img, #proyectos .proyecto.activo hr.medio {
	-webkit-filter: none;
	filter: none;
	opacity: 1;
}
#proyectos .proyecto hr.medio {
	border: 0;
	display: block;
	position: relative;
	margin-top:-20px;
	background-image:url(barra-impulsa.png);
	background-color:transparent;
	width:287px;
	height:61px;
	z-index:100;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
#proyectos .proyecto hr {
	width:100%;
	height:20px;
	border:0;
	margin:0;
	padding:0;
}
#proyectos .proyecto hr.inicio {
	background-color:#999;
}
#proyectos .proyecto hr.fin {
	background-color:#444;
}
#proyectos .proyecto.activo hr.inicio {
	background-color:#00a19a;
}
#proyectos .proyecto.activo hr.fin {
	background-color:#82368c;
}
#proyectos .proyecto .votos {
	text-align: right;
}
#proyectos .proyecto .votos span {
	font-size: 1.5em;
}
#proyectos .proyecto p {
	margin:0;
}
#proyectos .proyecto .temas {
	position: absolute;
	top:0;
	margin:25px 5px 5px 5px;
	padding:5px;
	list-style: none;
}
#proyectos .proyecto .temas li{
	float:left;
	background-color: #000;
	opacity:0.7;
	padding:5px 5px 5px 5px;
	/*font-size:0.8em;*/
	line-height:30px;
}
#proyectos .proyecto .temas a {
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:30px 30px;
	display:inline-block;
	height:30px;
	/*padding-left:30px;*/
	color: #ddd;
	background-color: #000;
}
#proyectos .proyecto .temas a:hover {
	color: #fff;
}

/*
#proyectos .proyecto .temas a.arte_y_cultura {
	background-image:url(/wp-content/plugins/impulsa/static/arte_y_cultura.png);
}
#proyectos .proyecto .temas a.educacion_e_igualdad {
	background-image:url(/wp-content/plugins/impulsa/static/educacion_e_igualdad.png);
}
#proyectos .proyecto .temas a.inclusion_social {
	background-image:url(/wp-content/plugins/impulsa/static/inclusion_social.png);
}
#proyectos .proyecto .temas a.salud_y_deporte {
	background-image:url(/wp-content/plugins/impulsa/static/salud_y_deporte.png);
}
#proyectos .proyecto .temas a.i_d_i_y_nuevas_tecnologias {
	background-image:url(/wp-content/plugins/impulsa/static/idi_y_nuevas_tecnologias.png);
}
#proyectos .proyecto .temas a.medio_ambiente {
	background-image:url(/wp-content/plugins/impulsa/static/medio_ambiente.png);
}
#proyectos .proyecto .temas a.economia_social {
	background-image:url(/wp-content/plugins/impulsa/static/economia_social.png);
}
#proyectos .proyecto .temas a.sostenibilidad_ambiental {
	background-image:url(/wp-content/plugins/impulsa/static/sostenibilidad_ambiental.png);
}
#proyectos .proyecto .temas a.desarrollo_rural {
	background-image:url(/wp-content/plugins/impulsa/static/desarrollo_rural.png);
}
#proyectos .proyecto .temas a.desarrollo_urbano {
	background-image:url(/wp-content/plugins/impulsa/static/desarrollo_urbano.png);
}
#proyectos .proyecto .temas a.participacion_ciudadana {
	background-image:url(/wp-content/plugins/impulsa/static/participacion_ciudadana.png);
}
#proyectos .proyecto .temas a.otras {
	background-image:url(/wp-content/plugins/impulsa/static/otras.png);
}
*/

#botonera, .categorias {
	font-size: medium;
	margin-bottom: 30px;
}

.categorias .titulo {
	display:inline-block;
	width:110px;
	font-weight:bold;
}

#botonera a, .categorias a {
	display:inline-block;
	clear:both;
	text-decoration:none;
	margin:0;
	padding:10px;
	background-color:#82368c;
	color: #fff;
	/*font-family: 'Roboto', sans-serif;*/
}

#botonera a.vertodos {
	display: none;
}
#botonera a:hover, #botonera a.active, #botonera a.vertodos, .categorias a:hover {
	background-color:#00a19a;
}
#botonera a.active ~ a.vertodos {
	display: inline-block;
}

#impulsa-project h4 {
	font-size:1.4em;
	margin-top:2em;
}

#impulsa-project p {
	font-size:1.4em;
}

#impulsa-project li {
	font-size:1.4em;
}
