.impulsa {
	.form-label label.control-label {
		font-size: 18px;
		a {
			display: block;
			font-size: 14px;
		}
	}
	.file-data {
		clear: left;
		.form-label label {
			font-size: 14px;
			padding-top: 0;
		}
		.form-wrapper {
			position: relative;
		}
		.current-file {
			a {
				text-align: right;
				color: #269283;
				font-size: 14px;
				&.delete {
					color: #f5bfc9;
				}
			}
		}
		.progress {
			position: absolute;
			margin: 5px;
			width: 100%;
		}
	}
}

nav.steps {
  background-image: linear-gradient(#eee 4px, transparent 1px);
  background-size: 100% 30px;
  background-position: 0 14px;
    
	ul {
		margin-bottom: 14px;
		li {
		  background: #269283;
		  display: inline-block;
		  padding: 5px 10px;
		  margin: 2px;
		  font-size: 12px;
		  border-radius: 2px 8px 8px 2px;

		  &.main {
		  	background: #612d62;
		  }
		  &.active {
		  	background: #954e99;
		  }

		  a {
		  	color: white;
		  }

		  span.errors {
		  	color: #f5bfc9;
		  	display: inline-block;
		  	font-size: 13px;
		  	font-weight: bold;
		  	text-align: center;
		  	margin-left: 5px; 
		  }
		  i.ok {
		  	color: #8f8;
		  }
		  i { 
		  	display: inline-block;
		  	font-size: 13px;
		  	text-align: center;
		  	margin-left: 5px;
		  }
	  }
  }
}