/*
Author: wakalaka
Author URI: http://wakalaka.es/
Description: Responsive theme by wakalaka for Juntos Podemos
Version: 1.0
*/



/* --------------------------------------------------------------------------------------------------------------------------------------------
base
-------------------------------------------------------------------------------------------------------------------------------------------- */


/* -----------------------------------
select 2
----------------------------------- */

.select2-container{
  margin-top:0.5em;
}
.select2-results .select2-highlighted {
  background-color:#954e99;
}
.select2-container{
  width:63%;
}
.select2-results{
  text-align:left;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 1: 0-459 (simple) # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */




/*
font sizes
*/
.select2-container{
  font-size:1.6em;
}
.select2-results{
  font-size:1.6em;
}




/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 2: 460-600 (intermedia 1) # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 460px) and (max-width: 600px)
{



  /*
  font sizes
  */
  .select2-container{
    font-size:1.6em;
  }
  .select2-results{
    font-size:1.6em;
  }


}


/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 3: 600-768 (intermedia 2) # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) and (max-width: 768px)
{



  /*
  font sizes
  */
  .select2-container{
    font-size:1.6em;
  }
  .select2-results{
    font-size:1.6em;
  }


}

/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 4: 769-...+ # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 769px)
{



  /*
  font sizes
  */
  .select2-container{
    font-size:1.6em;
  }
  .select2-results{
    font-size:1.6em;
  }


}

/* --------------------------------------------------------------------------------------------------------------------------------------------
layout 4+: 978-...+ # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 978px)
{



  /*
  font sizes
  */
  .select2-container{
    font-size:1.6em;
  }
  .select2-results{
    font-size:1.6em;
  }


}
