label.vatid_sample {
  width: 45%;
  min-width: 300px;
  float: left;
  text-align: center;
  margin-bottom: 1em;
  img {
    cursor: pointer;
    margin: 0 10px;
    width: 95%;
  }

  .button {
    font-size: 0.9em;
    text-transform: none;

    span {
      font-weight: bold;
      display: block;
    }
  }
}
