<%= semantic_form_for :process_search_persons, :url => { :action => "process_search_persons" } do |f| %>
    <%= f.input :file, :as => :file, :label => false %>
    <p style="margin-top:10px;">Debe:</p>
    <ul style="list-style-type: disc; margin-left: 15px;">
      <li>estar separado por comas</li>
      <li>tener en la primera línea los nombres de los campos "dni", "name","surname","email"</li>
      <li>existir el primer campo para que coincida con el criterio de búsqueda, habitualmente <em>document_vatid</em>, <em>email</em> o <em>id</em></li>
    </ul>
    <div class="buttons">
    <%= f.actions do %>
        <%= f.action :submit, :as => :button %>
    <% end %>
    </div>
<% end %>  