<div class="box">
  <div class="box-ok">
    <p><strong><%= title %></strong></p>
    <p><%= content %></p>
    <a class="box-close" href="#">
      <span><%= close_text %></span>
    </a>
  </div><%# .box-ok %>
</div><%# .box %>
