<div id="sidr-menu" class="invisible">
<ul>
  <li class="menu-profile">
    <%= link_to "Perfil", edit_user_registration_path %>
  </li>
  <li class="menu-econ">
    <%= link_to "Colaboración económica", new_collaboration_path %>
  </li>
  <li class="menu-tools">
    <%= link_to "Herramientas", root_path %>
  </li>
  <li class="menu-logout">
    <%= link_to "Salir", destroy_user_session_path, method: :delete %>
  </li>
</ul>
</div>
