<nav class="steps3">
  <ul>
    <li>
      <a href="#">
        <span class="tab-number">1)</span>
        <span class="tab-text"><%= first_step %></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="tab-number">2)</span>
        <span class="tab-text"><%= second_step %></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="tab-number">3)</span>
        <span class="tab-text"><%= third_step %></span>
      </a>
    </li>
  </ul>
</nav>
