<canvas class="js-col-sum-type-graph" width="300" height="300"></canvas>

<div class="hide js-col-sum-type-1"><%= Collaboration.credit_cards.count %></div>
<div class="hide js-col-sum-type-2"><%= Collaboration.bank_nationals.count %></div>
<div class="hide js-col-sum-type-3"><%= Collaboration.bank_internationals.count %></div>
