<canvas class="js-col-sum-amount-graph" width="300" height="300"></canvas>

<div class="hide js-col-sum-amount-1"><%= Collaboration.amount_1.count %></div>
<div class="hide js-col-sum-amount-2"><%= Collaboration.amount_2.count %></div>
<div class="hide js-col-sum-amount-3"><%= Collaboration.amount_3.count %></div>
