<canvas class="js-col-sum-freq-graph" width="300" height="300"></canvas>

<div class="hide js-col-sum-freq-1"><%= Collaboration.frequency_month.count %></div>
<div class="hide js-col-sum-freq-2"><%= Collaboration.frequency_quarterly.count %></div>
<div class="hide js-col-sum-freq-3"><%= Collaboration.frequency_anual.count %></div>
